.groupGrid {
    margin-bottom: 3rem;
    &__cell {
        margin-bottom: 1.5rem;
    }
}

.subtitle {
    margin-bottom: 1rem;
}

.pin {
    @extend %pin;
    background-color: $body-lightest;
    margin: 0.5rem;
    &__color {
        height: 1rem;
        width: 1rem;
        filter: blur(0.35rem);
        border-radius: 50%;
        position: absolute; 
    }
    &__path {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
 
.postCell {
    display: flex;
  }

.pathCell {
    display: flex;
    justify-content: center;
    //border: $border; 
    &--posts {
        height: 10vw;
        width: 10vw;
        //border: $border; 
        border-radius: 50%;
    }
}