%room {
    border: $border-body;
    background-color: inherit;
    height: 100%;
    padding: 0.5rem;
    position: relative;
    transition: all $short-fade;
    font-size: .7rem;
    letter-spacing: 0.5px;
    font-family: 'Graphik', sans-serif;
    font-weight: 400;
}

%hover {
    border-color: $accent-red3;
    background-color: $accent-red;
    z-index: 1; 
}

.hover {
    @extend %hover;
}

.houseNav {
    display: flex;
    flex-direction: column;
    height:50vh;
    width: 20%;
    top: 20%;
    position: relative; 
    & > * {
        width: 100%;
        display: flex;
    }
    &__A { height: 35%; }
    &__B { height: 65%; }
}

//all room styles
.A, .B {
    @extend %room;
    &:hover { @extend %hover; }
}

.A {
    margin-top: 1px;
    &1 { flex: 0 0 75%; }
    &2 { flex: 1 0 25%; 
        margin-left: -1px; 
    } 
}

.B {  
    &1 { 
        flex: 0 0 25%; 
    }
    &2 { 
        flex: 0 0 25%; 
        margin-left: -1px; 
        display: flex;
        flex-direction: column;
        &--top {
            display: flex;
            height: 100%;
        }
    } 
    &3 { 
        flex: 1 0 50%; 
        margin-left: -2px;
    }
}

.B2 {
    &--4 { flex: 1; }
    &--5 {
        flex: 1;
        margin-left: -1px;
    }
    &--6 {
        flex: 1 0 50%; 
        margin-top: -1px;
    }
}

.B3 {
    flex-shrink: 1;
    margin-left: -1px;
}
