.key {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    padding-bottom: 3rem;
    &__title {
        align-self: flex-start;
    }
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 1rem;
    }
    &__color {
        height: 1.5rem;
        width: 1.5rem;
        filter: blur(0.15rem);
        border-radius: 50%;
    }
}


//KEYS
.houseTitle {
    padding-bottom: 1.5rem;
}

.symbolKey {
    width: 50%;
    padding-bottom: 3rem; 
}

.tagKey { //?
    width: 50%; 
}
