@charset "UTF-8";
/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600&display=swap");
@font-face {
  font-family: 'Graphik';
  src: url(./assets/Graphik/Graphik.otf); }

@font-face {
  font-family: 'Graphik-Light';
  src: url(./assets/Graphik/Graphik-Extralight.otf); }

/* base styles */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 90%;
  width: 100%;
  color: #31302C; }

::selection {
  background-color: #EBC57A; }

blockquote {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px; }

/* text styles */
h1 {
  font-size: 2.5rem;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500; }

h2 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.8rem;
  font-weight: 400; }

h3 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.5rem;
  letter-spacing: 1.5px;
  font-weight: 300;
  letter-spacing: 0.5px; }

h4, button, li, .search__bar {
  font-family: 'Graphik', sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
  font-weight: 400; }

h5, label {
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  font-weight: 600; }

h6 {
  font-size: .7rem;
  letter-spacing: 0.5px;
  font-family: 'Graphik', sans-serif;
  font-weight: 400; }

p {
  font-family: 'Work Sans', sans-serif;
  font-size: 0.9rem;
  line-height: 130%; }

code, pre {
  font-family: 'Consolas', monospace;
  font-size: 0.8rem;
  background-color: #f1e3d3;
  border-radius: 0.5rem;
  padding: 2px;
  margin: 0 5rem; }

a {
  text-decoration: none;
  color: #72716B;
  cursor: pointer; }

input, textarea {
  font-family: 'Graphik', sans-serif;
  font-size: 0.9rem;
  letter-spacing: 0.5px; }
  input:focus, textarea:focus {
    outline: none;
    border: none; }

button {
  background: none;
  border: none;
  padding: none;
  cursor: pointer; }
  button:focus {
    outline: none; }

textarea {
  resize: none; }

menu {
  list-style: none; }

.flex {
  display: flex; }

.column {
  flex-direction: column; }

.wrap {
  flex-wrap: wrap; }

.justifyCenter {
  justify-content: center; }

.justifyStart {
  justify-content: flex-start; }

.justifyEnd {
  justify-content: flex-end; }

.justifySpaceEvenly {
  justify-content: space-evenly; }

.justifySpaceAround {
  justify-content: space-around; }

.justifySpaceBetween {
  justify-content: space-between; }

.alignCenter {
  align-items: center; }

.alignStart {
  align-items: flex-start; }

.alignEnd {
  align-items: flex-end; }

.alignSpaceEvenly {
  align-items: space-evenly; }

.alignSpaceAround {
  align-items: space-around; }

.alignSpaceBetween {
  align-items: space-between; }

.alignBaseline {
  align-items: baseline; }

.splitEvenly {
  flex: 0 0 50%; }

.fullWidth {
  width: 100%; }

.fullHeight {
  height: 100vh; }

.almostFullWidth {
  width: 90%; }

.halfWidth {
  width: 50%; }

.quarterWidth {
  width: 25%; }

.block {
  display: block; }

.inlineBlock {
  display: inline-block; }

.paddingOne {
  padding: 1rem; }

.paddingOneHalf {
  padding: 1.5rem; }

.paddingThree {
  padding: 3rem; }

.padBottomOne {
  padding-bottom: 1rem; }

.padBottomThree {
  padding-bottom: 3rem; }

.padChildrenOne > * {
  padding-bottom: 1rem; }

.padChildrenThree > * {
  padding-bottom: 3rem; }

.marginChildrenOne > * {
  margin-bottom: 1rem; }

.spaceThree {
  width: 3rem;
  height: 3rem;
  display: inline-block; }

.spaceOne {
  width: 1rem;
  height: 1rem;
  display: inline-block; }

.border {
  border: 1px solid #31302C; }

.noBorder {
  border: 1px solid transparent; }

.pointer {
  cursor: pointer; }

.light {
  color: #72716B; }

.lightest {
  color: #C3C2BD; }

.rollDown-enter {
  transform: scaleY(0); }

.rollDown-enter-active {
  transform: scaleY(1);
  transition: transform 0.2s ease-in; }

.rollDown-enter-done {
  transform: scaleY(1); }

.rollDown-exit {
  transform: scaleY(1); }

.rollDown-exit-active {
  transform: scaleY(0);
  transition: transform 0.2s ease-out; }

.rollDown-exit-done {
  transform: scaleY(0); }

.rollOut-enter {
  transform: translateY(-100%); }

.rollOut-enter-active {
  transform: translateY(0);
  transition: transform 0.2s; }

.rollOut-enter-done {
  transform: translateY(0); }

.rollOut-exit {
  transform: translateY(0); }

.rollOut-exit-active {
  transform: translateY(-100%);
  transition: transform 0.2s cubic-bezier(0.12, 0, 0.39, 0); }

.rollOut-exit-done {
  transform: translateY(-100%); }

.fade-enter {
  opacity: 0; }

.fade-enter-active {
  opacity: 1;
  transition: opacity 0.35s ease-in; }

.fade-enter-done {
  opacity: 1; }

.fade-exit {
  opacity: 1; }

.fade-exit-active {
  opacity: 0;
  transition: opacity 0.35s ease-in; }

.fade-exit-done {
  opacity: 0; }

.openDrawer-enter {
  transform: translateY(150%); }

.openDrawer-enter-active {
  transform: translateY(0%);
  transition: transform 0.35s; }

.openDrawer-enter-done {
  transform: translateY(0%); }

.openDrawer-exit {
  transform: translateY(0); }

.openDrawer-exit-active {
  transform: translateY(100%);
  transition: transform 0.35s; }

.openDrawer-exit-done {
  transform: translateY(100%); }

.zoomIn-enter {
  transform: scale(1);
  filter: blur(0.5rem); }

.zoomIn-enter-active {
  transform: scale(1.1);
  transition: transform 0.25s ease;
  filter: blur(1rem); }

.zoomIn-enter-done {
  transform: scale(1); }

.zoom-enter {
  transform: scale(1);
  filter: blur(0.5rem); }

.zoom-enter-active {
  transform: scale(2);
  transition: transform 0.25s ease;
  filter: blur(1rem); }

.zoom-enter-done {
  transform: scale(1); }

.zoomOut-enter {
  transform: scale(1);
  filter: blur(0.5rem); }

.zoomOut-enter-active {
  transform: scale(0.8);
  transition: transform 0.25s ease;
  filter: blur(1rem); }

.zoomOut-enter-done {
  transform: scale(1); }

@keyframes float {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(3px); }
  100% {
    transform: translateY(0px); } }

.room {
  display: flex;
  height: 100%;
  width: 100%;
  margin-top: 1.5rem; }
  .room__sidebar {
    flex: 0 0 15%;
    margin-top: 1rem;
    margin-right: 3rem; }
    .room__sidebar > * {
      margin-bottom: 3rem; }
  .room__body {
    flex: 0 0 50%;
    margin-top: 1rem; }

.emptyRoom {
  height: 25vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.fixedBtn {
  position: fixed;
  bottom: 3rem;
  left: 3rem; }

.page {
  background-color: #fffdfa;
  height: 100vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  padding-top: 0; }
  .page__header {
    align-self: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .page__title {
    text-transform: capitalize;
    align-self: flex-start;
    margin-top: 1.5rem; }
  .page__links {
    display: flex; }
  .page__links > * {
    padding-right: 3rem; }

.landing__header {
  width: 10rem;
  align-self: flex-end;
  display: flex;
  justify-content: space-between; }

.skylight {
  display: flex;
  width: 100%;
  height: 100%; }
  .skylight__sidebar {
    flex: 0 0 5%;
    display: flex;
    align-items: flex-end; }
  .skylight__layout {
    flex: 0 0 95%; }

.floor {
  display: flex; }
  .floor__plan {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

.bottom {
  border-radius: 0;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem; }

.upload {
  background-color: #fcf7f3;
  line-height: 1.5rem;
  border: 3px solid #f5eee5;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 100%;
  display: flex;
  margin-top: 3px;
  height: auto; }
  .upload__error {
    position: absolute;
    transform: translateY(-1.5rem); }
  .upload__container {
    display: flex;
    margin-top: 15%; }
  .upload__controller {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 5%;
    align-self: flex-start;
    margin-right: 5%; }
    .upload__controller:first-child {
      padding-bottom: 1rem; }
  .upload__form {
    flex: 0 0 90%; }
  .upload__extra {
    display: flex;
    padding-top: 1rem; }
  .upload__label {
    padding-top: 1rem;
    flex: 0 0 15%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; }
    .upload__label.active {
      cursor: pointer; }
      .upload__label.active:hover {
        font-style: italic; }

.inlineForm {
  width: 35%;
  text-align: center; }
  .inlineForm__notif {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center; }
  .inlineForm__toggle {
    height: 0;
    transform: scaleY(0);
    transition: all 0.7s; }
    .inlineForm__toggle.A {
      height: 3rem;
      transform: scaleY(1);
      transition: all 1s;
      display: flex;
      justify-content: center; }
    .inlineForm__toggle.B {
      height: 10rem;
      transform: scaleY(1); }
    .inlineForm__toggle > * {
      margin-top: 1.5rem; }
  .inlineForm__submit {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }

.formFields > * {
  margin-bottom: 1.5rem; }

.input {
  background-color: #fcf7f3;
  line-height: 1.5rem;
  border: 3px solid #fcf7f3;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  transition: all 0.35s; }
  .input:focus {
    border: 3px solid #f1e3d3; }
  .input--fail {
    border: 3px solid #f39c8199; }
    .input--fail:focus {
      border: 3px solid #f39c81d9; }
  .input--white {
    background-color: #fffdfa;
    border: 3px solid #f5eee5; }

.longInput {
  transform-origin: top;
  min-height: 5rem; }

.input__pass {
  position: relative;
  color: #44433e; }

.showPasswordButton {
  position: absolute;
  display: inline;
  left: 90%;
  bottom: 50%;
  cursor: pointer; }

.btn {
  min-height: 3rem;
  min-width: 3rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.35s;
  background-color: inherit; }
  .btn:active {
    background-color: #f5eee5; }
  .btn--CTA {
    width: 6rem;
    background-color: #f1e3d3; }
  .btn.warning {
    background-color: #f39c81d9; }
  .btn.active {
    background-color: #f1e3d3; }

.inlineBtn {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; }
  .inlineBtn:hover {
    font-style: italic; }

.icon {
  font-size: 1.2rem;
  color: #C3C2BD;
  transition: all 0.35s; }
  .icon__btn {
    cursor: pointer; }
    .icon__btn--active {
      background-color: red; }
    .icon__btn:hover {
      color: #72716B; }
  .icon--active {
    color: #72716B; }
  .icon--small {
    font-size: 0.8rem; }
  .icon--warning:hover {
    color: #78201B; }

d {
  display: inline-block;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #C3C2BD;
  transition: all .2s ease-in-out; }

.btn__bar__wrapper {
  height: inherit;
  border: 3px solid #fcf7f3;
  display: inline-flex;
  justify-content: flex-start;
  border-radius: 0.7rem;
  position: relative; }

.btnBar--column {
  background-color: #f5eee5;
  border-radius: 0; }
  .btnBar--column:first-child {
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem; }
  .btnBar--column:last-child {
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem; }

.btnBar--row {
  background-color: #f5eee5;
  border-radius: 0; }
  .btnBar--row:first-child {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem; }
  .btnBar--row:last-child {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem; }

.btnBar--active {
  background-color: #f1e3d3;
  color: #72716B; }

.tooltip {
  color: #fffdfa;
  background-color: #44433e;
  border-radius: 5px;
  padding: 5px 0.5rem;
  transition: all .35s;
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 3; }

.notification {
  display: block;
  color: #fffdfa;
  border-radius: 0.5rem;
  border: 1px solid #78201B;
  padding: 1rem; }
  .notification.error {
    background-color: #f39c81d9; }
  .notification.success {
    background-color: #44433e; }

.loading {
  display: flex;
  align-items: center;
  width: 10rem;
  justify-content: center; }

.pulse {
  display: inline-block;
  position: relative;
  height: 3rem;
  width: 3rem;
  background-color: #72716B;
  border-radius: 50%;
  margin: 0 0.5rem;
  animation: pulse 3s infinite;
  animation-delay: 1s; }

.prompt.light {
  color: #72716B; }

.prompt.warning {
  color: #78201B; }

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
  border-radius: 1rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 16px rgba(220, 216, 209, 0.733), -4px -4px 16px #fff;
  padding: 3rem;
  line-height: 150%; }
  .modal__X {
    position: absolute;
    right: 1rem;
    top: 1rem; }
  .modal__actions {
    display: flex;
    justify-content: flex-end;
    padding-top: 3rem; }
    .modal__actions > :first-child {
      margin-right: 3rem; }
  .modal__background {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.8); }

.edit {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 40rem;
  width: 90vw;
  height: 85vh;
  border-radius: 0.5rem;
  background-color: #fffdfa;
  display: flex;
  box-shadow: 4px 4px 16px #DCD8D1, -4px -4px 16px #fff;
  padding: 3rem;
  padding-bottom: 1rem;
  line-height: 150%;
  overflow: scroll; }
  .edit__content {
    width: 100%;
    display: flex; }
  .edit__sidebar {
    flex: 0 0 25%;
    padding-left: 1rem; }
  .edit__metadata {
    margin-bottom: 1.5rem; }
  .edit__body {
    flex: 0 0 75%;
    padding: 0 5rem;
    display: flex;
    flex-direction: column; }
    .edit__body__edit {
      flex: 0 0 3%;
      display: flex;
      justify-content: space-between; }
    .edit__body__noteDetail {
      width: 100%;
      flex: 1;
      border: 3px solid #fcf7f3;
      padding: 1rem;
      border-radius: 0.5rem;
      transition: all 0.35s; }
      .edit__body__noteDetail.active {
        border: 3px solid #f5eee5; }
    .edit__body__linkDetail {
      flex: 1; }
    .edit__body__save {
      flex: 0 0 7%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      color: #C3C2BD;
      transition: all 0.35s; }
      .edit__body__save.active {
        color: #31302C; }

.DraftEditor-root {
  border-radius: 0.5rem;
  background-color: #fffdfa;
  width: 100%; }

.DraftEditor-editorContainer {
  text-align: left; }

.public-DraftEditor-content {
  font-family: 'Graphik', sans-serif;
  line-height: 180%;
  font-size: 0.9rem; }

.public-DraftStyleDefault-ul,
.public-DraftStyleDefault-ol {
  margin: 1em 0;
  padding-left: 2.5em; }

h1[data-block] {
  font-family: 'Graphik', sans-serif;
  font-size: 1.8rem;
  line-height: 200%; }

h2[data-block] {
  font-family: 'Graphik', sans-serif;
  font-size: 1.5rem;
  line-height: 170%; }

h3[data-block] {
  font-family: 'Graphik', sans-serif;
  font-size: 1.17rem; }

h4[data-block] {
  font-family: 'Graphik', sans-serif;
  font-size: 1rem;
  text-transform: none; }

h5[data-block] {
  font-family: 'Graphik', sans-serif;
  font-size: 0.83rem;
  font-weight: 400; }

h6[data-block] {
  font-family: 'Graphik', sans-serif;
  font-size: 0.67rem; }

.editorWrapper {
  width: 100%;
  border-radius: 0.5rem; }

.editorTag {
  padding: 2px;
  border-radius: 3px; }

.upload > .editorWrapper {
  padding: 0; }

.editorWrapper > .DraftEditor-root {
  min-height: 5rem;
  padding: 1rem; }

.searchContainer {
  position: relative;
  width: 100%; }

.search {
  width: 100%;
  position: relative;
  align-self: flex-start; }
  .search__icon {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%); }
    .search__icon--end {
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%); }
  .search__bar {
    padding-left: 3rem;
    border-bottom: 3px solid #fcf7f3;
    transition: all 0.35s; }
    .search__bar:focus {
      border: 3px solid #fcf7f3;
      border-bottom: 3px solid #f1e3d3; }

.autocomplete {
  width: 100%;
  position: absolute;
  list-style: none;
  display: flex;
  flex-direction: column;
  background-color: #fffdfa;
  border: 1px solid #f1e3d3;
  border-radius: 0.5rem;
  box-shadow: 4px 4px 16px #DCD8D1, -4px -4px 16px #fff;
  z-index: 3;
  transform: translateY(3rem); }
  .autocomplete__item {
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    cursor: pointer; }
    .autocomplete__item:hover {
      background-color: #fcf7f3; }
  .autocomplete > li:first-child {
    padding-top: 1rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem; }
  .autocomplete > li:last-child {
    padding-bottom: 1rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem; }

.drag {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  min-height: 6.5rem;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  transition: all 0.35s;
  cursor: pointer;
  border: 1px solid #fffdfa; }
  .drag--active {
    background-color: #fffdfa;
    border: 1px solid #f1e3d3; }

.card {
  cursor: pointer;
  width: 35rem;
  height: 20rem;
  display: flex;
  margin: 0;
  border: 1px solid #f5eee5;
  border-radius: 0.5rem;
  transition: all .2s ease-in-out;
  position: relative;
  transition-property: border, width, margin; }
  .card.kitchen {
    width: 31rem;
    margin-top: 5rem; }
  .card.living_room {
    width: 30rem;
    margin-top: 3rem; }
  .card.bedroom {
    width: 25rem;
    margin-left: 5rem;
    margin-top: -15rem; }
  .card.basement {
    width: 40rem;
    height: 17rem;
    margin-left: -10rem;
    margin-top: -10rem; }
  .card.front {
    z-index: 3;
    border-color: #fcf7f3;
    background-color: #fffdfa;
    box-shadow: 4px 4px 24px rgba(216, 215, 211, 0.5), -4px -4px 16px #fff; }
  .card.middle {
    z-index: 2;
    border-color: #fcf7f3;
    background-color: #fffdfa;
    box-shadow: 4px 4px 16px rgba(220, 216, 209, 0.733), -4px -4px 16px #fff; }
  .card.middleBack {
    z-index: 1;
    background-color: #fffdfa;
    box-shadow: 4px 4px 16px #DCD8D1, -4px -4px 16px #fff; }
  .card.back {
    z-index: 0;
    background-color: #faf7f5;
    box-shadow: 4px 4px 16px #DCD8D1, -4px -4px 16px #fff; }

.card__label {
  padding: 1rem;
  position: absolute; }
  .card__label.living_room {
    right: 0; }
  .card__label.bedroom {
    bottom: 0; }
  .card__label.basement {
    bottom: 0;
    right: 0; }

.card__body {
  padding: 1.5rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap; }

/* post versions */
.postList100 {
  display: flex;
  flex-direction: column;
  transform-origin: top right; }

.post100 {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem; }
  .post100__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 1rem; }
    .post100__header__edit {
      display: flex;
      position: relative; }
    .post100__header__editMenu {
      transform: translateX(1rem); }
  .post100__body {
    padding-bottom: 1rem; }
  .post100__editBtn {
    margin-left: 1.5rem; }
  .post100__tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    word-break: normal;
    color: #C3C2BD; }
    .post100__tags > * {
      margin-right: 0.5rem; }
    .post100__tags > h4::after {
      content: ','; }
    .post100__tags > h4:last-child::after,
    .post100__tags > h4:first-child::after {
      content: ''; }

.postRow25 {
  height: 25%;
  width: 100%;
  display: flex;
  align-items: stretch;
  margin-bottom: 2%; }
  .postRow25__container {
    display: flex;
    height: 100%; }
  .postRow25 > * {
    margin-right: 1rem; }
  .postRow25 > *:last-child {
    margin-right: 0; }

.post25 {
  align-self: stretch;
  border: 1px solid #d8d7d3;
  border-radius: 1rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  height: 100%;
  width: 100%; }
  .post25__wrapper {
    width: 23.5%;
    display: flex;
    flex-direction: column;
    height: 100%; }
  .post25__user {
    color: #72716B;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem; }
  .post25__header {
    display: flex;
    flex: 0 0 5%; }
  .post25__body {
    flex: 0 0 90%;
    display: flex;
    justify-content: center;
    padding: 0;
    overflow: hidden;
    cursor: pointer; }
    .post25__body__note {
      position: relative;
      overflow: hidden; }
    .post25__body__link {
      display: flex;
      align-items: center; }
    .post25__body__fade {
      position: absolute;
      height: 30%;
      width: 100%;
      bottom: 0;
      background: linear-gradient(transparent, 20%, #fffdfa); }

.postRow5 {
  display: flex;
  border-radius: 0.5rem; }
  .postRow5__container {
    border: 1px solid #f1e3d3;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #fcf7f3; }
  .postRow5 > * {
    border: 1.5px solid #fcf7f3; }

.post5 {
  background-color: #f1e3d3;
  height: auto;
  flex: 1 0 auto; }
  .post5::before {
    content: '';
    display: block;
    padding-top: 100%; }

.postGradient {
  width: 100%;
  height: 100%;
  display: flex;
  filter: blur(3px);
  overflow: hidden; }

.postBody {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden; }

.postHalf--1 {
  flex-grow: 1;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem; }

.postHalf--2 {
  flex-grow: 1;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem; }

.gradient {
  border-radius: 50%;
  filter: blur(0.5rem);
  height: 3.5rem;
  width: 5rem; }
  .gradient__pin {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #72716B;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .gradient__post {
    display: inline-flex;
    position: relative;
    margin: 0.5rem; }

.postPreview {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center; }
  .postPreview__content {
    width: 15rem;
    min-height: 5rem;
    padding: 1rem;
    background-color: #fcf7f3;
    border: 1px solid #f1e3d3;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    box-shadow: 4px 4px 16px rgba(220, 216, 209, 0.733), -4px -4px 16px #fff;
    position: absolute;
    z-index: 1; }
  .postPreview__header {
    padding-bottom: 1rem; }
  .postPreview__tags {
    padding-top: 1rem; }
    .postPreview__tags > * {
      padding-bottom: 5px; }

.tag {
  width: auto;
  position: relative;
  background-color: transparent;
  border-radius: 0.5rem;
  display: inline-flex;
  align-items: center;
  position: relative;
  padding: 5px;
  margin-right: 1rem;
  line-height: 150%;
  transition: all 0.35s;
  break-inside: avoid; }
  .tag--edit {
    padding-right: 1.7rem;
    border-radius: 0.5rem;
    background-color: #f5eee5; }
  .tag__X {
    font-size: 0.8rem;
    color: #72716B;
    position: absolute;
    right: 5px;
    transform: translateY(-50%);
    top: 50%;
    cursor: pointer; }
  .tag__count {
    margin-left: 0.5rem; }

.tagPreview {
  display: flex;
  align-items: center; }
  .tagPreview__color {
    height: 1rem;
    width: 1rem;
    filter: blur(0.15rem);
    border-radius: 50%;
    margin-right: 1rem; }

.colorInput {
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  opacity: 0%; }

.recentTags {
  display: flex;
  align-items: center;
  padding-top: 1rem; }
  .recentTags__tag {
    display: inline-flex;
    align-items: center;
    margin-right: 1.5rem;
    background-color: #fcf7f3;
    border-radius: 0.5rem;
    cursor: pointer;
    color: #C3C2BD;
    padding: 7px;
    transition: all 0.35s; }
    .recentTags__tag:hover {
      color: #72716B; }
    .recentTags__tag::before {
      content: '+ \00a0'; }

/* TAG LAYOUT */
.addTags {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transform-origin: center 1rem;
  width: 100%;
  position: relative; }
  .addTags__recent {
    padding-top: 1rem;
    align-self: flex-start; }

.tagBank {
  padding-top: 1.5rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; }

.houseTags {
  position: relative;
  column-count: 3;
  padding-bottom: 1.5rem; }
  .houseTags__header {
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 85%; }
    .houseTags__header > * {
      margin-right: 3rem; }
  .houseTags__stats {
    display: flex;
    margin-top: 3rem; }

.toggle {
  height: 1.5rem;
  width: 3rem;
  border: 1px solid #DCD8D1;
  padding: 1px;
  border-radius: 1rem;
  background-color: #DCD8D1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  transition: all 0.7s; }
  .toggle.on {
    background-color: #EBC57A;
    border-color: #EBC57A;
    justify-content: flex-end; }
  .toggle__switch {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #fffdfa; }
  .toggle__wrapper {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px; }

.breadcrumbs {
  display: flex;
  justify-content: space-between;
  color: #C3C2BD; }

.crumb--w.active {
  color: #44433e; }

.breadcrumbsNav {
  display: flex; }

.crumb--active {
  color: #31302C; }

.crumb__break {
  margin: 0 1.5rem; }

.selectmenu__picked {
  padding: 1rem 0.5rem;
  display: flex;
  align-items: center;
  background-color: inherit;
  position: relative;
  cursor: pointer;
  display: flex; }

.selectmenu__expand {
  margin-left: 0.5rem; }

.selectmenu__dropdown {
  position: absolute;
  transform-origin: top;
  background-color: #fffdfa;
  min-width: 5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem; }

.selectmenu__item {
  color: #72716B;
  cursor: pointer;
  padding: 1rem 0.5rem;
  background-color: inherit;
  transition: all 0.35s;
  min-width: 7rem; }
  .selectmenu__item:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
  .selectmenu__item:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }
  .selectmenu__item:hover {
    background-color: #f5eee5; }

.basicselect {
  width: 5rem;
  display: flex;
  flex-direction: column;
  background-color: #fcf7f3;
  box-shadow: 4px 4px 24px rgba(216, 215, 211, 0.5), -4px -4px 16px #fff;
  position: absolute; }

.drawer {
  border: 1px solid #f5eee5;
  width: 15rem;
  border-radius: 0.5rem;
  margin-left: 0.5rem;
  background-color: #fcf7f3; }
  .drawer__tab {
    color: #C3C2BD;
    padding: 1rem;
    text-align: center;
    cursor: pointer; }
  .drawer__item {
    padding: 1rem; }
  .drawer__dropdown {
    min-height: 5rem;
    max-height: 75vh;
    overflow: scroll;
    transform-origin: bottom center; }

.fixedTab {
  position: absolute;
  bottom: 0;
  left: 0; }

.listmenu__title {
  padding-bottom: 1rem;
  letter-spacing: 1.5px; }

.listmenu__item {
  cursor: pointer;
  color: #72716B;
  padding-bottom: 0.5rem;
  transition: all 0.35s; }
  .listmenu__item:hover {
    color: #31302C; }
  .listmenu__item.active {
    color: #44433e; }
    .listmenu__item.active::after {
      content: '—';
      margin-left: 0.5rem; }

.filter {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  height: 3rem;
  background-color: #f5eee5;
  border-radius: 0.5rem; }
  .filter__item {
    cursor: pointer;
    color: #72716B;
    margin-right: 1.5rem;
    background-color: inherit;
    border-radius: 5px;
    padding: 0.5rem;
    transition: all 0.35s; }
    .filter__item--active {
      background-color: #f1e3d3;
      border-radius: 5px; }
  .filter__paint {
    width: 1.5rem;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    transition: all 0.35s;
    border-radius: 5px; }
    .filter__paint--active {
      background-color: #f1e3d3; }

.linkCard > .react_tinylink_card {
  border: none !important;
  padding: 0 !important;
  height: 3rem !important;
  display: flex;
  justify-content: center;
  align-items: center; }
  .linkCard > .react_tinylink_card:hover {
    background-color: inherit !important; }
  .linkCard > .react_tinylink_card > .react_tinylink_card_content_wrapper {
    padding: 0 !important; }
    .linkCard > .react_tinylink_card > .react_tinylink_card_content_wrapper > .react_tinylink_card_content {
      display: none !important; }
      .linkCard > .react_tinylink_card > .react_tinylink_card_content_wrapper > .react_tinylink_card_content + .react_tinylink_footer {
        padding: 5px !important;
        font-family: 'Graphik', sans-serif; }
        .linkCard > .react_tinylink_card > .react_tinylink_card_content_wrapper > .react_tinylink_card_content + .react_tinylink_footer > .react_tinylink_card_footer_description {
          white-space: nowrap !important;
          overflow: hidden !important;
          text-overflow: ellipsis !important;
          text-align: center !important; }
    .linkCard > .react_tinylink_card > .react_tinylink_card_content_wrapper > .react_tinylink_card_content_header {
      display: none !important; }

.react_tinylink_card {
  width: 100% !important;
  border-radius: 0.5rem;
  border: 1px solid #f5eee5 !important;
  padding: 1rem;
  box-shadow: none !important;
  background-color: #fffdfa !important;
  transition: all 0.35s !important; }
  .react_tinylink_card:hover {
    background-color: #f5eee5 !important; }
  .react_tinylink_card_footer_description {
    color: #72716B !important;
    font-size: 0.8rem !important; }

.react_tinylink_card_media {
  opacity: 65% !important; }

.react_tinylink_card_content {
  font-family: 'Graphik', sans-serif; }
  .react_tinylink_card_content_header_description {
    font-weight: normal !important;
    font-size: 0.9rem !important;
    color: #72716B !important; }
  .react_tinylink_card_content_description {
    font-size: 0.8rem !important;
    color: #C3C2BD !important; }

.linkCard {
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }

.toolbar {
  display: flex;
  align-items: center;
  background-color: #fcf7f3;
  color: #72716B;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem; }

.comment {
  background-color: #fcf7f3;
  padding: 1rem 0.5rem 0 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column; }
  .comment__body {
    display: flex; }
  .comment__X {
    flex-shrink: 1;
    height: 1rem; }
  .comment__text {
    text-transform: none;
    letter-spacing: 0.5px;
    margin: 0 1rem; }
  .comment__author {
    flex-shrink: 1;
    align-self: flex-end;
    color: #C3C2BD; }

.commentList > *:not(:first-child) {
  margin-bottom: 1rem; }

.inlineComment {
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  margin-bottom: 1.5rem;
  border: 3px solid #f5eee5;
  resize: none; }
  .inlineComment::placeholder {
    color: #C3C2BD; }
