/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600&display=swap");
@font-face {
  font-family: 'Graphik';
  src: url(./assets/Graphik.otf); }

/* base styles */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 90%;
  width: 100%;
  color: #31302C; }

::selection {
  background-color: #EBC57A; }

a {
  text-decoration: none;
  color: #31302C;
  cursor: pointer; }
  a:hover {
    font-style: italic; }

/* text styles */
h1 {
  font-size: 2.5rem;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500; }

h2 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.8rem;
  font-weight: 400; }

h3 {
  font-family: 'Graphik', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.5px; }

h4, button, .search__bar {
  font-family: 'Graphik', sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
  font-weight: 400; }

h5, label {
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  font-weight: 600; }

h6 {
  font-size: .7rem; }

code {
  font-family: monospace;
  font-size: 1rem;
  background-color: #f1e3d3;
  padding: 0.5rem;
  border-radius: 0.5rem; }

input, textarea {
  font-family: 'Graphik', sans-serif;
  font-size: 1rem;
  letter-spacing: 0.5px; }
  input:focus, textarea:focus {
    outline: none;
    border: none; }

button {
  background: none;
  border: none;
  padding: none;
  cursor: pointer; }
  button:focus {
    outline: none; }

textarea {
  resize: none; }

.flex {
  display: flex; }

.column {
  flex-direction: column; }

.wrap {
  flex-wrap: wrap; }

.justifyCenter {
  justify-content: center; }

.justifyStart {
  justify-content: flex-start; }

.justifyEnd {
  justify-content: flex-end; }

.justifySpaceEvenly {
  justify-content: space-evenly; }

.justifySpaceAround {
  justify-content: space-around; }

.justifySpaceBetween {
  justify-content: space-between; }

.alignCenter {
  align-items: center; }

.alignStart {
  align-items: flex-start; }

.alignEnd {
  align-items: flex-end; }

.alignSpaceEvenly {
  align-items: space-evenly; }

.alignSpaceAround {
  align-items: space-around; }

.alignSpaceBetween {
  align-items: space-between; }

.alignBaseline {
  align-items: baseline; }

.splitEvenly {
  flex: 0 0 50%; }

.fullWidth {
  width: 100%; }

.fullHeight {
  height: 100vh; }

.almostFullWidth {
  width: 90%; }

.halfWidth {
  width: 50%; }

.quarterWidth {
  width: 25%; }

.block {
  display: block; }

.inlineBlock {
  display: inline-block; }

.paddingOne {
  padding: 1rem; }

.paddingOneHalf {
  padding: 1.5rem; }

.paddingThree {
  padding: 3rem; }

.padBottomOne {
  padding-bottom: 1rem; }

.padBottomThree {
  padding-bottom: 3rem; }

.padChildrenOne > * {
  padding-bottom: 1rem; }

.padChildrenThree > * {
  padding-bottom: 3rem; }

.marginChildrenOne > * {
  margin-bottom: 1rem; }

.spaceThree {
  width: 3rem;
  height: 3rem;
  display: inline-block; }

.spaceOne {
  width: 1rem;
  height: 1rem;
  display: inline-block; }

.border {
  border: 1px solid #31302C; }

.noBorder {
  border: 1px solid transparent; }

.pointer {
  cursor: pointer; }

.light {
  color: #72716B; }

.lightest {
  color: #C3C2BD; }

.page {
  background-color: #fffdfa;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem; }
  .page__header {
    align-self: center;
    width: 100%;
    display: flex;
    justify-content: space-between; }
  .page__links {
    display: flex; }
  .page__links > * {
    padding-right: 3rem; }

.landing__header {
  width: 10rem;
  align-self: flex-end;
  display: flex;
  justify-content: space-between; }

.inlineForm {
  width: 35%;
  text-align: center; }
  .inlineForm__notif {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center; }
  .inlineForm__toggle {
    height: 0;
    transform: scaleY(0);
    transition: all 0.7s; }
    .inlineForm__toggle.A {
      height: 3rem;
      transform: scaleY(1);
      transition: all 1s;
      display: flex;
      justify-content: center; }
    .inlineForm__toggle.B {
      height: 10rem;
      transform: scaleY(1); }
    .inlineForm__toggle > * {
      margin-top: 1.5rem; }
  .inlineForm__submit {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }

.pageForm {
  width: 70%; }

.formFields > * {
  margin-bottom: 1.5rem; }

.input {
  background-color: #fcf7f3;
  line-height: 1.5rem;
  border: 3px solid #fcf7f3;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  transition: all 0.35s; }
  .input:focus {
    border: 3px solid #f1e3d3; }
  .input--fail {
    border: 3px solid #f39c8199; }
    .input--fail:focus {
      border: 3px solid #f39c81d9; }
  .input--white {
    background-color: #fffdfa;
    border: 3px solid #f5eee5; }

.longInput {
  transform-origin: top;
  height: 3rem; }

.input__pass {
  position: relative;
  color: #44433e; }

.showPasswordButton {
  position: absolute;
  display: inline;
  left: 90%;
  bottom: 50%;
  cursor: pointer; }

.btn {
  min-height: 3rem;
  min-width: 3rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.35s;
  background-color: #f5eee5; }
  .btn:active {
    background-color: #f5eee5; }
  .btn--active {
    background-color: #f1e3d3; }
    .btn--active .btn:hover {
      box-shadow: none; }
  .btn--CTA {
    width: 6rem;
    background-color: #f1e3d3; }
  .btn.warning {
    background-color: #f39c81d9; }

.inlineBtn {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; }
  .inlineBtn:hover {
    font-style: italic; }

.icon {
  font-size: 1.2rem;
  color: #C3C2BD;
  transition: all 0.35s; }
  .icon__btn {
    cursor: pointer; }
    .icon__btn:hover {
      color: #72716B; }
  .icon--small {
    font-size: 0.8rem; }

.fixedBtn {
  position: fixed;
  bottom: 3rem;
  left: 3rem; }

d {
  display: inline-block;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #72716B;
  transition: all .2s ease-in-out; }

.btn__bar {
  display: flex;
  justify-content: flex-start;
  border-radius: 0.5rem; }
  .btn__bar.column {
    flex-direction: column; }
  .btn__bar__wrapper {
    height: inherit;
    border: 3px solid #fcf7f3;
    border-radius: 0.8rem; }

.btnBar {
  background-color: #f5eee5;
  border-radius: 0; }
  .btnBar--top {
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem; }
  .btnBar--bottom {
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem; }
  .btnBar--right {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem; }
  .btnBar--left {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem; }
  .btnBar--active {
    background-color: #f1e3d3;
    color: #72716B; }

.tooltip {
  color: #fffdfa;
  background-color: #44433e;
  border-radius: 5px;
  padding: 5px 0.5rem;
  transition: all .35s;
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 3; }

.notification {
  display: block;
  color: #fffdfa;
  border-radius: 0.5rem;
  border: 1px solid #78201B;
  padding: 1rem; }
  .notification.error {
    background-color: #f39c81d9; }
  .notification.success {
    background-color: #44433e; }

.loading {
  display: flex;
  align-items: center;
  width: 10rem;
  justify-content: center; }

.pulse {
  display: inline-block;
  position: relative;
  height: 3rem;
  width: 3rem;
  background-color: #72716B;
  border-radius: 50%;
  margin: 0 0.5rem;
  animation: pulse 3s infinite;
  animation-delay: 1s; }

.prompt.light {
  color: #72716B; }

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
  border-radius: 1rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 16px #DCD8D1, -4px -4px 16px #fff;
  padding: 3rem;
  line-height: 150%; }
  .modal__close {
    position: absolute;
    right: 1rem;
    top: 1rem; }
  .modal__actions {
    display: flex;
    justify-content: flex-end;
    padding-top: 3rem; }
    .modal__actions > :first-child {
      margin-right: 3rem; }
  .modal__background {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.8); }

.upload {
  background-color: #fcf7f3;
  line-height: 1.5rem;
  border: 3px solid #f5eee5;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 100%;
  display: flex;
  margin-top: 3px;
  height: auto; }
  .upload__container {
    display: flex;
    justify-content: space-between;
    margin-top: 15%;
    align-items: flex-start; }
  .upload__controller {
    display: flex;
    flex: 0 0 10%;
    align-self: flex-start; }
  .upload__form {
    flex: 0 0 90%; }
  .upload__extras {
    padding: 0 1.5rem; }
  .upload__label {
    padding-top: 1rem;
    flex: 0 0 15%;
    display: flex;
    justify-content: flex-start;
    cursor: pointer; }
    .upload__label:hover {
      font-style: italic; }

.addTags {
  padding-top: 1rem;
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transform-origin: center 1rem;
  width: 100%; }
  .addTags__recent {
    padding-top: 1rem;
    align-self: flex-start; }

.rollDown-enter {
  transform: scaleY(0); }

.rollDown-enter-active {
  transform: scaleY(1);
  transition: transform 0.2s ease-in; }

.rollDown-enter-done {
  transform: scaleY(1); }

.rollDown-exit {
  transform: scaleY(1); }

.rollDown-exit-active {
  transform: scaleY(0);
  transition: transform 0.2s ease-out; }

.rollDown-exit-done {
  transform: scaleY(0); }

.rollOut-enter {
  transform: translateY(-100%); }

.rollOut-enter-active {
  transform: translateY(0);
  transition: transform 0.2s; }

.rollOut-enter-done {
  transform: translateY(0); }

.rollOut-exit {
  transform: translateY(0); }

.rollOut-exit-active {
  transform: translateY(-100%);
  transition: transform 0.2s cubic-bezier(0.12, 0, 0.39, 0); }

.rollOut-exit-done {
  transform: translateY(-100%); }

.DraftEditor-root {
  border-radius: 0.5rem;
  background-color: #fffdfa;
  padding: 1rem;
  width: 100%; }

.DraftEditor-editorContainer {
  text-align: left;
  min-height: 6.5rem; }

.search {
  width: 100%;
  position: relative;
  align-self: flex-start; }
  .search__icon {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%); }
    .search__icon--end {
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%); }
  .search__bar {
    padding-left: 3rem;
    border-bottom: 3px solid #fcf7f3;
    transition: all 0.35s; }
    .search__bar:focus {
      border: 3px solid #fcf7f3;
      border-bottom: 3px solid #f1e3d3; }

.drag {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  min-height: 6.5rem;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  transition: all 0.35s;
  cursor: pointer;
  border: 1px solid #fffdfa; }
  .drag--active {
    background-color: #fffdfa;
    border: 1px solid #f1e3d3; }

.card {
  cursor: pointer;
  width: 35rem;
  height: 20rem;
  display: flex;
  margin: 0;
  border: 1px solid #f5eee5;
  border-radius: 0.5rem;
  transition: all .2s ease-in-out;
  transition-property: border, width, margin; }
  .card.kitchen {
    width: 30rem;
    margin-top: 5rem; }
  .card.livingRoom {
    width: 30rem;
    margin-top: 7rem; }
  .card.bedroom {
    width: 25rem;
    margin-left: 5rem;
    margin-top: -15rem; }
  .card.basement {
    width: 40rem;
    height: 17rem;
    margin-left: -10rem;
    margin-top: -10rem; }
  .card.front {
    z-index: 3;
    border-color: #fcf7f3;
    background-color: #fffdfa;
    box-shadow: 4px 4px 24px rgba(216, 215, 211, 0.5), -4px -4px 16px #fff; }
  .card.middle {
    z-index: 2;
    border-color: #fcf7f3;
    background-color: #fffdfa;
    box-shadow: 4px 4px 16px rgba(220, 216, 209, 0.733), -4px -4px 16px #fff; }
  .card.middleBack {
    z-index: 1;
    background-color: #fffdfa;
    box-shadow: 4px 4px 16px #DCD8D1, -4px -4px 16px #fff; }
  .card.back {
    z-index: 0;
    background-color: #faf7f5;
    box-shadow: 4px 4px 16px #DCD8D1, -4px -4px 16px #fff; }

.card__label {
  padding: 1rem; }
  .card__label.livingRoom {
    width: 100%;
    display: flex;
    justify-content: flex-end; }
  .card__label.bedroom {
    display: flex;
    align-items: flex-end; }
  .card__label.basement {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end; }

.floor {
  display: flex; }

@keyframes float {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(3px); }
  100% {
    transform: translateY(0px); } }

post {
  min-height: 15rem;
  width: 25rem;
  border: 1px solid #d8d7d3;
  border-radius: 1rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  word-break: break-all;
  white-space: normal;
  flex: wrap; }

.post__tags {
  text-align: justify;
  word-break: normal;
  position: relative; }

.post__more {
  position: absolute;
  bottom: 0;
  left: 0; }

.gradient {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(ellipse at 0 0, #f35 0%, transparent 50%); }
  .gradient__pin {
    cursor: pointer; }

.tag {
  background-color: transparent;
  border-radius: 0.5rem;
  display: inline-flex;
  align-items: center;
  position: relative;
  padding: 7px;
  margin-bottom: 3px;
  margin-right: 1rem;
  transition: all 0.35s;
  line-height: 150%; }
  .tag--edit {
    padding-right: 1.7rem;
    border-radius: 0.5rem;
    background-color: #f5eee5; }
  .tag__X {
    font-size: 1rem;
    color: #72716B;
    position: absolute;
    right: 5px;
    transform: translateY(-50%);
    top: 50%;
    cursor: pointer; }

.tagBank {
  display: flex;
  flex-wrap: wrap; }

.toggle {
  height: 1.5rem;
  width: 3rem;
  border: 1px solid #DCD8D1;
  padding: 1px;
  border-radius: 1rem;
  background-color: #DCD8D1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  transition: all 0.7s; }
  .toggle.on {
    background-color: #EBC57A;
    border-color: #EBC57A;
    justify-content: flex-end; }
  .toggle__switch {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #fffdfa; }
  .toggle__wrapper {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px; }
