@charset "UTF-8";
/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600&display=swap");
@font-face {
  font-family: "Graphik";
  src: url(./assets/Graphik/Graphik.otf);
}
@font-face {
  font-family: "Graphik-Light";
  src: url(./assets/Graphik/Graphik-Extralight.otf);
}
@font-face {
  font-family: "Philibert-Italic";
  src: url(./assets/Philibert.ttf);
}
/* base styles */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 90%;
  width: 100%;
  color: #312F2C;
}

::selection {
  background-color: rgba(247, 192, 110, 0.75);
}

blockquote {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 4rem;
  margin-inline-end: 4rem;
  color: #776B5E;
}

/* text styles */
h1 {
  font-size: 2rem;
  font-family: "Philibert-Italic", serif;
  font-weight: 400;
}

h2, .page__title {
  font-family: "Work Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.5px;
}

h3, .reference__title {
  font-family: "Graphik", sans-serif;
  font-size: 1.1rem;
  letter-spacing: 1.5px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

h4, button, li, .search__bar, th {
  font-family: "Graphik", sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
  font-weight: 400;
}
h4.heavy, button.heavy, li.heavy, .search__bar.heavy, th.heavy {
  font-weight: bold;
  line-height: 130%;
}

h5, label, figcaption {
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  font-weight: 600;
}

h6 {
  font-size: 0.7rem;
  letter-spacing: 0.5px;
  font-family: "Graphik", sans-serif;
  font-weight: 400;
}

p {
  font-family: "Work Sans", sans-serif;
  font-size: 0.9rem;
  line-height: 130%;
}

code, pre {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 0.7rem;
}

a {
  text-decoration: none;
  color: #776B5E;
  cursor: pointer;
}

.styledLink {
  color: #ff6600;
  font-weight: bold;
}

input, textarea {
  font-family: "Graphik", sans-serif;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  color: #312F2C;
}
input:focus, textarea:focus {
  outline: none;
  border: none;
}

button {
  background: none;
  border: none;
  padding: none;
  cursor: pointer;
}
button:focus {
  outline: none;
}

textarea {
  resize: none;
}

menu {
  list-style: none;
}

hr {
  clear: both;
  display: block;
  background: #C7BEB6;
  opacity: 0.5;
  height: 1px;
  width: 99%;
  margin: 1rem auto;
}

.pin, d {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #776B5E;
  cursor: pointer;
}

.fadeText {
  position: absolute;
  height: 100%;
  width: 3rem;
  right: 0;
  z-index: 2;
  background: linear-gradient(to right, transparent, #FFFCF8);
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.justifyCenter {
  justify-content: center;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.justifySpaceEvenly {
  justify-content: space-evenly;
}

.justifySpaceAround {
  justify-content: space-around;
}

.justifySpaceBetween {
  justify-content: space-between;
}

.alignCenter {
  align-items: center;
}

.alignStart {
  align-items: flex-start;
}

.alignEnd {
  align-items: flex-end;
}

.alignSpaceEvenly {
  align-items: space-evenly;
}

.alignSpaceAround {
  align-items: space-around;
}

.alignSpaceBetween {
  align-items: space-between;
}

.alignBaseline {
  align-items: baseline;
}

.splitEvenly {
  flex: 0 0 50%;
}

.fullWidth {
  width: 100%;
}

.fullHeight {
  height: 100vh;
}

.almostFullWidth {
  width: 90%;
}

.halfWidth {
  width: 50%;
}

.quarterWidth {
  width: 25%;
}

.block {
  display: block;
}

.inlineBlock {
  display: inline-block;
}

.paddingOne {
  padding: 1rem;
}

.paddingOneHalf {
  padding: 1.5rem;
}

.paddingThree {
  padding: 3rem;
}

.padBottomOne {
  padding-bottom: 1rem;
}

.padBottomThree {
  padding-bottom: 3rem;
}

.padChildrenOne > * {
  padding-bottom: 1rem;
}

.padChildrenThree > * {
  padding-bottom: 3rem;
}

.marginChildrenOne > * {
  margin-bottom: 1rem;
}

.spaceThree {
  width: 3rem;
  height: 3rem;
  display: inline-block;
}

.spaceOne {
  width: 1rem;
  height: 1rem;
  display: inline-block;
}

.border {
  border: 1px solid #312F2C;
}

.noBorder {
  border: 1px solid transparent;
}

.pointer {
  cursor: pointer;
}

.light {
  color: #776B5E;
}

.lightest {
  color: #C7BEB6;
}

.bold {
  font-weight: bold;
}

.highlight {
  color: rgba(247, 192, 110, 0.75);
}

.grow-enter {
  max-height: 0;
  overflow: hidden;
}
.grow-enter-active {
  max-height: 100vh;
  overflow: hidden;
  transition: max-height 0.35s ease-in-out;
}
.grow-enter-done {
  max-height: 100vh;
}
.grow-exit {
  max-height: 100vh;
}
.grow-exit-active {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.35s ease-in-out;
}
.grow-exit-done {
  max-height: 0;
  overflow: hidden;
}

.rollDown-enter {
  transform: scaleY(0);
}
.rollDown-enter-active {
  transform: scaleY(1);
  transition: transform 0.2s ease-in;
}
.rollDown-enter-done {
  transform: scaleY(1);
}
.rollDown-exit {
  transform: scaleY(1);
}
.rollDown-exit-active {
  transform: scaleY(0);
  transition: transform 0.35s ease-out;
}
.rollDown-exit-done {
  transform: scaleY(0);
}

.rollOut-enter {
  transform: translateY(-100%);
}
.rollOut-enter-active {
  transform: translateY(0);
  transition: transform 0.2s;
}
.rollOut-enter-done {
  transform: translateY(0);
}
.rollOut-exit {
  transform: translateY(0);
}
.rollOut-exit-active {
  transform: translateY(-100%);
  transition: transform 0.2s cubic-bezier(0.12, 0, 0.39, 0);
}
.rollOut-exit-done {
  transform: translateY(-100%);
}

.rollOutX-enter {
  transform: translateX(100%);
}
.rollOutX-enter-active {
  transform: translateX(0);
  transition: transform 0.2s;
}
.rollOutX-enter-done {
  transform: translateX(0);
}
.rollOutX-exit {
  transform: translateX(0);
}
.rollOutX-exit-active {
  transform: translateX(100%);
  transition: transform 0.2s cubic-bezier(0.12, 0, 0.39, 0);
}
.rollOutX-exit-done {
  transform: translateX(100%);
}

.rollDownFadeOut-enter {
  transform: scaleY(0);
}
.rollDownFadeOut-enter-active {
  transform: scaleY(1);
  transition: transform 0.2s ease-in;
}
.rollDownFadeOut-enter-done {
  transform: scaleY(1);
}
.rollDownFadeOut-exit {
  opacity: 1;
}
.rollDownFadeOut-exit-active {
  opacity: 0.5;
  transition: opacity 0.2s ease-in;
}
.rollDownFadeOut-exit-done {
  opacity: 0;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 0.35s ease-in;
}
.fade-enter-done {
  opacity: 1;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 0.35s ease-in;
}
.fade-exit-done {
  opacity: 0;
}

.quickFade-enter {
  opacity: 0;
}
.quickFade-enter-active {
  opacity: 1;
  transition: opacity 0.15s ease-in;
}
.quickFade-enter-done {
  opacity: 1;
}
.quickFade-exit {
  opacity: 1;
}
.quickFade-exit-active {
  opacity: 0;
  transition: opacity 0.15s ease-in;
}
.quickFade-exit-done {
  opacity: 0;
}

.openDrawer-enter {
  transform: translateY(150%);
}
.openDrawer-enter-active {
  transform: translateY(0%);
  transition: transform 0.35s;
}
.openDrawer-enter-done {
  transform: translateY(0%);
}
.openDrawer-exit {
  transform: translateY(0);
}
.openDrawer-exit-active {
  transform: translateY(100%);
  transition: transform 0.35s;
}
.openDrawer-exit-done {
  transform: translateY(100%);
}

.zoomIn-enter {
  transform: scale(1);
  filter: blur(0.5rem);
}
.zoomIn-enter-active {
  transform: scale(1.1);
  filter: blur(1rem);
  transition: transform 0.25s ease-in-out;
}
.zoomIn-enter-done {
  transform: scale(1);
}

.zoom-enter {
  transform: scale(1);
  filter: blur(0.5rem);
}
.zoom-enter-active {
  transform: scale(0.99);
  filter: blur(1rem);
  transition: all 0.25s ease;
}
.zoom-enter-done {
  transform: scale(1);
}

.zoomOut-enter {
  opacity: 0.25;
  transform: scale(1);
  filter: blur(0.5rem);
}
.zoomOut-enter-active {
  opacity: 0.5;
  transform: scale(0.9);
  filter: blur(1rem);
  transition: all 0.25s ease-in-out;
}
.zoomOut-enter-done {
  opacity: 1;
  transform: scale(1);
}

@keyframes floatSoftly {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
/*
//!
.grow {
    &-enter {  
        max-height: 0;
        overflow: hidden
    }
    &-enter-active {
        max-height: 100vh;
        transition: max-height .35s ease-in-out;
    }
    &-enter-done { 
        max-height: 100vh;
    }
    &-exit { 
        max-height: 100vh;
    }
    &-exit-active{
        max-height: 0;
        transition: max-height .35s ease-in-out; 
    }
    &-exit-done { 
        max-height: 0;
        overflow: hidden
    }
}
*/
.icon {
  font-size: 1.2rem;
  color: #C7BEB6;
  transition: all 0.35s;
}
.icon__btn {
  cursor: pointer;
}
.icon__btn:hover {
  color: #776B5E;
}
.icon--active {
  color: #776B5E;
}
.icon--small {
  font-size: 0.8rem;
}
.icon--warning:hover {
  color: rgba(247, 192, 110, 0.75);
}

.keyIcon {
  font-size: 1.5rem;
  color: #312F2C;
}

d {
  display: inline-block;
  background-color: #C7BEB6;
  transition: all 0.2s ease-in-out;
}

.chevron {
  padding: 0.5rem;
  display: flex;
  color: #776B5E;
  position: absolute;
  right: 0;
  top: 50%;
  cursor: pointer;
  transform: rotate(135deg) scale(0.5) translateY(150%);
  transition: all 0.35s;
  z-index: 1;
}
.chevron--open {
  transform: rotate(45deg) scale(0.5) translateX(-200%);
}

.layer {
  display: flex;
  height: 100%;
  width: 100%;
  margin-top: 1rem;
}
.layer__sidebar {
  flex: 0 0 15%;
  margin-right: 3rem;
}
.layer__sidebar > * {
  margin-bottom: 3rem;
}
.layer__body {
  width: 55%;
  margin-top: 1rem;
  position: relative;
  margin-right: 1rem;
}
.layer__empty {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.layer__empty--sub {
  align-items: flex-start;
  margin-left: -1rem;
  padding-bottom: 3rem;
}

.sublayer__header {
  position: relative;
}
.sublayer__title {
  margin-bottom: 1rem;
}
.sublayer__body {
  padding: 1rem;
}

.fixedBtn {
  position: fixed;
  bottom: 3rem;
  left: 3rem;
}

.page {
  background-color: #FFFCF8;
  height: 100vh;
  width: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  padding-top: 0;
}
.page__header {
  align-self: center;
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}
.page__info {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.page__title {
  width: 90%;
  align-self: flex-start;
  margin-left: -1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.page__delete {
  padding-right: 3rem;
  padding-top: 0.5rem;
}
.page__links {
  display: flex;
}
.page__links > * {
  padding-right: 3rem;
}
.page__body {
  flex: 0 0 80%;
  border: 1px solid black;
}
.page__sidebar {
  flex: 0 0 20%;
  border: 1px solid black;
}

.upload {
  background-color: #FAF3ED;
  line-height: 1.5rem;
  border: 3px solid #F2EADF;
  border-radius: 0.5rem;
  width: 100%;
  display: flex;
  height: auto;
}
.upload--link {
  padding: 1rem;
}
.upload__error__msg {
  position: absolute;
  transform: translateY(-1.5rem);
}
.upload__error__notif {
  position: absolute;
  transform: translateY(-3.5rem);
}
.upload__container {
  display: flex;
  margin-top: 1.5rem;
}
.upload__controller {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 5%;
  align-self: flex-start;
  margin-right: 5%;
}
.upload__controller:first-child {
  padding-bottom: 1rem;
}
.upload__form {
  flex: 0 0 90%;
}
.upload__extra {
  display: flex;
  padding-top: 1rem;
}
.upload__label {
  padding-top: 1rem;
  flex: 0 0 15%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.upload__label.active {
  cursor: pointer;
}
.upload__label.active:hover {
  font-style: italic;
}

.addLayer {
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
}
.addLayer > *:first-child {
  margin-right: 0.5rem;
}

.inlineForm {
  width: 35%;
  text-align: center;
}
.inlineForm__notif {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inlineForm__toggle {
  height: 0;
  transform: scaleY(0);
  transition: all 0.7s;
}
.inlineForm__toggle.A {
  height: 3rem;
  transform: scaleY(1);
  transition: all 1s;
  display: flex;
  justify-content: center;
}
.inlineForm__toggle.B {
  height: auto;
  transform: scaleY(1);
  overflow: visible;
}
.inlineForm__toggle > * {
  margin-top: 1.5rem;
}
.inlineForm__submit {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.formFields > * {
  margin-bottom: 1.5rem;
}

.addBoarders {
  transform-origin: top center;
  margin-bottom: 0;
}

.map {
  align-self: flex-end;
  width: 100%;
  min-height: 70vh;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  overflow: visible;
  gap: 3rem;
}
.map__canvas {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-size: 1rem 1rem;
  background-image: linear-gradient(to right, #FAF3ED 1px, transparent 1px), linear-gradient(to bottom, #FAF3ED 1px, transparent 1px);
  border-right: 1px solid #FAF3ED;
  border-bottom: 1px solid #FAF3ED;
  padding: 1.5rem;
  margin-top: 1rem;
}
.map__key {
  flex: 0 0 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.map__nav {
  position: fixed;
  top: 1rem;
  right: 3rem;
}

.homeButton {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
}

.houseLegend {
  background-color: #FAF3ED;
  border: 1px solid #F2EADF;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

/*
.homeIcon {
  //align-self: center;
  position: absolute;
  left: 40%;
  bottom: 0;
  display: flex;
  border: 1.5px solid $body-medium;
  transform: rotate(45deg);
  width: 3rem;
  height: 1.5rem;
  &__label {
    transform: rotate(-45deg) translate(3rem, -1.5rem);
    padding-left: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__pin {
    @extend %pin; 
    display: inline-block;
    position: absolute;
    left: 0;
  }
}*/
.landing__header {
  width: 10rem;
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
}
.landing__body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.house {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.house__menu {
  width: 15%;
  position: absolute;
  right: 10%;
  top: 20%;
}
.house__compose {
  padding-bottom: 1.5rem;
}

.inmail {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.inmail__compose {
  align-self: flex-end;
  padding-bottom: 1rem;
}

.archive__col {
  padding-bottom: 1rem;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

/*
.reference {
    &__entry {
        display: inline;
        position: relative;
        padding: 5px 0;
        //border: $border;
    }
    &__icon {
        cursor: pointer;
    }
    &__title {
       line-height: 250%;
       padding: 5px;
       background-color: inherit;
       transition: all $short-fade;
       &:hover {
          // background-color: yellow;
       }
    }
    &__img {
        max-width: 50%;
    }
    &__blur {
        @extend %blur; 
        margin-left: 1rem; 
        margin-right: 5px; 
        position: relative;
    }
    &__dropdown {
        width: 100%;
        display: flex;
        justify-content: center;
        &__content {
            width: 80%;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            //background-color: $sand;
            border-radius: $border-small; 
        }
        &__item {
            padding-bottom: 1rem;
            width: 100%;
            display: flex;
        }
        &__sup {
            flex: 0 0 5%;
        }
        &__text {
            flex: 0 0 90%;
        }
}
}
*/
.syllabus {
  width: 80%;
}
.syllabus__header {
  width: 80%;
  padding-bottom: 1rem;
}
.syllabus__row {
  position: relative;
  min-height: 3rem;
}
.syllabus__row:not(:first-child) {
  margin-top: -1px;
}
.syllabus__title {
  flex: 1 0 33%;
  display: flex;
}

.warp {
  position: absolute;
  display: flex;
}
.warp__stitch {
  min-height: 3rem;
  padding: 0 1rem;
  border: 1px solid #312F2C;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: visible;
}
.warp__stitch:not(:first-child) {
  border-left: none;
}
.warp__dropdown {
  display: flex;
}
.warp__dropdown__cell {
  padding: 1rem;
  flex: 1;
  border: 1px solid red;
}

/*
    &__node {
        @extend %pin;
        position: absolute;
        top: 0.5rem;
        &--right {
            right: 0;
            &::after {
                content: '';
                width: 1.5rem;
                height: 1px;
                background-color: inherit;
                display: block;
                position: absolute;
                top: 50%;
                left: 0; 
            }
        }
        &--left {
            left: 0; 
            &::after {
                content: '';
                width: 1.5rem;
                height: 1px;
                background-color: inherit;
                display: block;
                position: absolute;
                top: 50%;
                right: 0; 
            }
        }
    }
*/
.key {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  padding-bottom: 3rem;
}
.key__title {
  align-self: flex-start;
}
.key__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}
.key__color {
  height: 1.5rem;
  width: 1.5rem;
  filter: blur(0.15rem);
  border-radius: 50%;
}

.houseTitle {
  padding-bottom: 1.5rem;
}

.symbolKey {
  width: 50%;
  padding-bottom: 3rem;
}

.A, .B {
  border: 1px solid #312F2C;
  background-color: inherit;
  height: 100%;
  padding: 0.5rem;
  position: relative;
  transition: all 0.35s;
  font-size: 0.7rem;
  letter-spacing: 0.5px;
  font-family: "Graphik", sans-serif;
  font-weight: 400;
}

.A:hover, .B:hover, .hover {
  border-color: #ff6600;
  background-color: rgba(247, 192, 110, 0.75);
  z-index: 1;
}

.houseNav {
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 20%;
  top: 20%;
  position: relative;
}
.houseNav > * {
  width: 100%;
  display: flex;
}
.houseNav__A {
  height: 35%;
}
.houseNav__B {
  height: 65%;
}

.A {
  margin-top: 1px;
}
.A1 {
  flex: 0 0 75%;
}
.A2 {
  flex: 1 0 25%;
  margin-left: -1px;
}

.B1 {
  flex: 0 0 25%;
}
.B2 {
  flex: 0 0 25%;
  margin-left: -1px;
  display: flex;
  flex-direction: column;
}
.B2--top {
  display: flex;
  height: 100%;
}
.B3 {
  flex: 1 0 50%;
  margin-left: -2px;
}

.B2--4 {
  flex: 1;
}
.B2--5 {
  flex: 1;
  margin-left: -1px;
}
.B2--6 {
  flex: 1 0 50%;
  margin-top: -1px;
}

.B3 {
  flex-shrink: 1;
  margin-left: -1px;
}

.groupGrid {
  margin-bottom: 3rem;
}
.groupGrid__cell {
  margin-bottom: 1.5rem;
  position: relative;
}

.subtitle {
  margin-bottom: 1rem;
}

.pin {
  background-color: #C7BEB6;
  margin: 0.5rem;
}
.pin__color {
  height: 1rem;
  width: 1rem;
  filter: blur(0.35rem);
  border-radius: 50%;
  position: absolute;
}
.pin__path {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.postCell {
  display: flex;
}

.pathCell {
  display: flex;
  justify-content: center;
}
.pathCell--posts {
  height: 10vw;
  width: 10vw;
  border-radius: 50%;
  position: relative;
}

.input {
  background-color: #FAF3ED;
  line-height: 1.5rem;
  border: 3px solid #FAF3ED;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  transition: all 0.35s;
}
.input:focus {
  border: 3px solid #EFDDC8;
}
.input--fail {
  border: 3px solid #E47654;
}
.input--fail:focus {
  border: 3px solid #E47654;
}
.input--white {
  background-color: #FFFCF8;
  border: 3px solid #F2EADF;
}

.longInput {
  transform-origin: top;
  min-height: 5rem;
}

.input__pass {
  position: relative;
  color: #433D37;
}

.showPasswordButton {
  position: absolute;
  display: inline;
  left: 90%;
  bottom: 50%;
  cursor: pointer;
}

.btn {
  min-height: 3rem;
  min-width: 3rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.35s;
  background-color: inherit;
}

.btn:hover {
  background-color: rgba(247, 192, 110, 0.75);
}
.btn:active, .btn.active {
  background-color: #EFDDC8;
}
.btn.warning {
  background-color: #E47654;
}

.CTA {
  min-width: 6rem;
  padding: 0 0.5rem;
  border: 3px solid transparent;
}
.CTA.primary {
  background-color: #EFDDC8;
}
.CTA.secondary {
  background-color: #433D37;
  color: #FFFCF8;
}
.CTA.outline {
  border: 3px solid #F2EADF;
}
.CTA.inline:hover {
  font-style: italic;
  background-color: inherit;
}
.CTA.ghost {
  color: #C7BEB6;
  background-color: #F2EADF;
}

.nav__wrapper {
  display: flex;
  align-items: center;
}
.nav__wrapper * {
  border-radius: 0.5rem;
}

.btnbarWrapper {
  display: inline-flex;
  background-color: #F2EADF;
}
.btnbarWrapper.column {
  flex-direction: column;
}
.btnbarWrapper.row {
  flex-direction: row;
}

.tooltipWrapper {
  display: inline-block;
  position: relative;
  background-color: #F2EADF;
}
.tooltipWrapper--column:first-child {
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}
.tooltipWrapper--column:last-child {
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.tooltipWrapper--row:first-child {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.tooltipWrapper--row:last-child {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.tooltipWrapper--solo {
  background-color: #FAF3ED;
  border-radius: 0.5rem;
}

.navBtn--column {
  background-color: #F2EADF;
}
.navBtn--column:first-child {
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}
.navBtn--column:last-child {
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.notification {
  display: block;
  color: #FFFCF8;
  border-radius: 0.5rem;
  border: 1px solid rgba(247, 192, 110, 0.75);
  padding: 1rem;
}
.notification.error {
  background-color: #E47654;
}
.notification.success {
  background-color: #433D37;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.loadingPage {
  width: 100vw;
  height: 100vh;
  background-color: #FFFCF8;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: wait;
}

.prompt.light {
  color: #776B5E;
}
.prompt.warning {
  color: rgba(247, 192, 110, 0.75);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 40rem;
  border-radius: 1rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 16px #ebe9e5, -4px -4px 16px #fff;
  padding: 3rem;
  z-index: 4;
}
.modal__X {
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.modal__actions {
  display: flex;
  justify-content: flex-end;
  padding-top: 3rem;
}
.modal__actions > :first-child {
  margin-right: 3rem;
}
.modal__background {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 3;
}

.edit {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 40rem;
  width: 90vw;
  height: 85vh;
  border-radius: 0.5rem;
  background-color: #FFFCF8;
  display: flex;
  box-shadow: 4px 4px 16px #ebe9e5, -4px -4px 16px #fff;
  padding: 3rem;
  padding-bottom: 1rem;
  line-height: 150%;
  overflow: scroll;
}
.edit__content {
  width: 100%;
  display: flex;
}
.edit__sidebar {
  flex: 0 0 25%;
  padding-left: 1rem;
  position: relative;
}
.edit__metadata {
  margin-bottom: 1.5rem;
}

.editPost {
  flex: 0 0 75%;
  padding: 0 5rem;
  display: flex;
  flex-direction: column;
}
.editPost__header {
  flex: 0 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.editPost__pen {
  position: absolute;
  right: 0;
  top: 50%;
}
.editPost__trash {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateX(-100%);
}
.editPost__noteDetail {
  width: 100%;
  flex: 1;
  border: 3px solid #FAF3ED;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: all 0.35s;
}
.editPost__noteDetail.active {
  border: 3px solid #EFDDC8;
}
.editPost__linkDetail {
  flex: 1;
}
.editPost__save {
  flex: 0 0 7%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #C7BEB6;
  transition: all 0.35s;
}
.editPost__save.active {
  color: #312F2C;
}

/*
    & > * {
        //margin-left: 1.5rem;
    }
*/
.DraftEditor-root {
  border-radius: 0.5rem;
  background-color: #FFFCF8;
  width: 100%;
}

.DraftEditor-editorContainer {
  text-align: left;
}

.editorWrapper {
  width: 100%;
  padding-top: 0;
  display: flex;
  height: auto;
}
.editorWrapper > .DraftEditor-root {
  padding: 1rem;
  min-height: 15rem;
}

.editorWrapper--block {
  background-color: #FAF3ED;
  border: 3px solid #F2EADF;
  border-radius: 0.5rem;
  padding: 1.5rem;
  padding-top: 0;
  transform-origin: center top;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.editorWrapper--block > .DraftEditor-root {
  min-height: 15rem;
}

.editorWrapper--inline {
  border: 3px solid #F2EADF;
  border-radius: 0.5rem;
}

.editor__title {
  background-color: #FFFCF8;
  border: none;
  color: #776B5E;
  padding: 1rem;
  padding-bottom: 0rem;
}
.editor__title:focus {
  border: none;
}

.public-DraftEditor-content {
  font-family: "Graphik", sans-serif;
  line-height: 180%;
  font-size: 0.9rem;
}

.public-DraftStyleDefault-pre {
  background-color: #312F2C;
  color: #FFFCF8;
  line-height: 125%;
  padding: 5px;
  border-radius: 5px;
}

.public-DraftStyleDefault-ul,
.public-DraftStyleDefault-ol {
  margin: 1em 0;
  padding-left: 2.5em;
}

h1[data-block] {
  font-family: "Graphik", sans-serif;
  font-size: 1.8rem;
  line-height: 200%;
}

h2[data-block] {
  font-family: "Graphik", sans-serif;
  font-size: 1.5rem;
  line-height: 170%;
}

h2[data-block] {
  font-family: "Graphik", sans-serif;
  font-size: 1.17rem;
}

h4[data-block] {
  font-family: "Graphik", sans-serif;
  font-size: 1rem;
  text-transform: none;
  letter-spacing: 0.5px;
  font-weight: 600;
}

li.public-DraftStyleDefault-unorderedListItem,
li.public-DraftStyleDefault-orderedListItem {
  font-family: "Graphik", sans-serif;
  font-size: 0.9rem;
  text-transform: none;
  letter-spacing: 0px;
}

h5[data-block] {
  font-family: "Graphik", sans-serif;
  font-size: 0.83rem;
  font-weight: 600;
}

h6[data-block] {
  font-family: "Graphik", sans-serif;
  font-size: 0.67rem;
  font-weight: 600;
}

.editorTag {
  padding: 2px;
  border-radius: 3px;
}

.searchContainer {
  position: relative;
  width: 100%;
}

.search {
  width: 100%;
  position: relative;
  align-self: flex-start;
}
.search__icon {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
.search__icon--end {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
.search__bar {
  padding-left: 3rem;
  border-bottom: 3px solid #FAF3ED;
  transition: all 0.35s;
}
.search__bar:focus {
  border: 3px solid #FAF3ED;
  border-bottom: 3px solid #EFDDC8;
}

.autocomplete {
  width: 100%;
  position: absolute;
  list-style: none;
  display: flex;
  flex-direction: column;
  background-color: #FFFCF8;
  border: 1px solid #EFDDC8;
  border-radius: 0.5rem;
  box-shadow: 4px 4px 16px #ebe9e5, -4px -4px 16px #fff;
  z-index: 3;
  transform: translateY(3rem);
}
.autocomplete__item {
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  cursor: pointer;
}
.autocomplete__item:hover {
  background-color: #FAF3ED;
}
.autocomplete > li:first-child {
  padding-top: 1rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.autocomplete > li:last-child {
  padding-bottom: 1rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.drag {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  min-height: 6.5rem;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  transition: all 0.35s;
  cursor: pointer;
  border: 1px solid #FFFCF8;
}
.drag--active {
  background-color: #FFFCF8;
  border: 1px solid #EFDDC8;
}

.card {
  position: relative;
  padding: 1rem;
  width: 100%;
  height: 10rem;
  display: flex;
  border: 1px solid #EFDDC8;
  border-radius: 0.5rem;
  background-color: #FAF3ED;
  cursor: pointer;
}
.card__label {
  padding: 1rem;
  position: absolute;
}
.card__body {
  padding: 1.5rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.card.front {
  z-index: 3;
  border-color: #FAF3ED;
  background-color: #FFFCF8;
  box-shadow: 4px 4px 24px rgba(216, 215, 211, 0.5), -4px -4px 16px #fff;
}
.card.middle {
  z-index: 2;
  border-color: #FAF3ED;
  background-color: #fffdfa;
  box-shadow: 4px 4px 16px rgba(220, 216, 209, 0.733), -4px -4px 16px #fff;
}
.card.middleBack {
  z-index: 1;
  background-color: #fffdfa;
  box-shadow: 4px 4px 16px #ebe9e5, -4px -4px 16px #fff;
}
.card.back {
  z-index: 0;
  background-color: #faf7f5;
  box-shadow: 4px 4px 16px #ebe9e5, -4px -4px 16px #fff;
}

.card__v {
  margin-bottom: -8rem;
  box-shadow: -1px -4px 0.5rem #ebe9e5;
  transition: all 0.35s;
}
.card__v:last-child {
  margin-bottom: 0;
}
.card__v:hover {
  margin-bottom: 0;
  box-shadow: inset -2px -4px 1rem #FFFCF8;
}

/* post versions */
.postRow100 {
  display: flex;
  flex-direction: column;
  transform-origin: top right;
}

.post100 {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}
.post100__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 1rem;
}
.post100__header__edit {
  display: flex;
  position: relative;
}
.post100__header__editMenu {
  transform: translateX(1rem);
}
.post100__body {
  padding-bottom: 1rem;
}
.post100__editBtn {
  margin-left: 1.5rem;
}
.post100__tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  word-break: normal;
  color: #C7BEB6;
}
.post100__tag {
  position: relative;
}

.postRow25 {
  height: 25%;
  display: flex;
  margin-bottom: 3rem;
}
.postRow25__container {
  height: 100%;
}
.postRow25 > * {
  margin-right: 1rem;
}
.postRow25 > *:last-child {
  margin-right: 0;
}

.post25 {
  align-self: stretch;
  border: 1px solid #d8d7d3;
  border-radius: 1rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.post25__wrapper {
  width: 23.5%;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.post25__user {
  color: #776B5E;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
}
.post25__header {
  display: flex;
  flex: 0 0 5%;
}
.post25__body {
  flex: 0 0 90%;
  display: flex;
  justify-content: center;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
}
.post25__body__note {
  position: relative;
  overflow: hidden;
}
.post25__body__link {
  display: flex;
  align-items: center;
}
.post25__body__fade {
  position: absolute;
  height: 30%;
  width: 100%;
  bottom: 0;
  background: linear-gradient(transparent, 20%, #FFFCF8);
}

.gradient {
  border-radius: 50%;
  filter: blur(0.5rem);
  height: 3.5rem;
  width: 5rem;
}
.gradient__pin {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #776B5E;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gradient__post {
  display: inline-flex;
  position: relative;
  margin: 0.5rem;
}

.tag {
  width: auto;
  position: relative;
  background-color: transparent;
  border-radius: 0.5rem;
  display: inline-flex;
  align-items: center;
  position: relative;
  padding: 5px;
  margin-right: 1rem;
  line-height: 150%;
  transition: all 0.35s;
  break-inside: avoid;
}
.tag--edit {
  padding-right: 1.7rem;
  border-radius: 0.5rem;
  background-color: #F2EADF;
}
.tag__X {
  font-size: 0.8rem;
  color: #776B5E;
  position: absolute;
  right: 5px;
  transform: translateY(-50%);
  top: 50%;
  cursor: pointer;
}
.tag__count {
  margin-left: 0.5rem;
}

.tagPreview {
  display: flex;
  align-items: center;
}
.tagPreview__color {
  height: 1rem;
  width: 1rem;
  filter: blur(0.15rem);
  border-radius: 50%;
  margin-right: 1rem;
}

.recentTags {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}
.recentTags__tag {
  display: inline-flex;
  align-items: center;
  margin-right: 1.5rem;
  background-color: #FAF3ED;
  border-radius: 0.5rem;
  cursor: pointer;
  color: #C7BEB6;
  padding: 7px;
  transition: all 0.35s;
}
.recentTags__tag:hover {
  color: #776B5E;
}
.recentTags__tag::before {
  content: "+  ";
}

.colorInput {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  opacity: 0%;
}

/* TAG LAYOUT */
.addTags {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transform-origin: center 1rem;
  width: 100%;
  position: relative;
}

.tagBank {
  padding-top: 0.5rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.houseTags {
  position: relative;
  column-count: 3;
  padding-bottom: 1.5rem;
}
.houseTags__header {
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 85%;
}
.houseTags__header > * {
  margin-right: 3rem;
}
.houseTags__stats {
  display: flex;
  margin-top: 3rem;
}

.toggle {
  height: 1.5rem;
  width: 3rem;
  border: 1px solid #ebe9e5;
  padding: 1px;
  border-radius: 1rem;
  background-color: #ebe9e5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  transition: all 0.7s;
}
.toggle.on {
  background-color: rgba(247, 192, 110, 0.75);
  border-color: rgba(247, 192, 110, 0.75);
  justify-content: flex-end;
}
.toggle__switch {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #FFFCF8;
}
.toggle__wrapper {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.breadcrumbs {
  display: flex;
  justify-content: space-between;
  color: #C7BEB6;
}

.crumb--w.active {
  color: #433D37;
}

.breadcrumbsNav {
  display: flex;
}

.crumb--active {
  color: #312F2C;
}
.crumb__break {
  margin: 0 1.5rem;
}

.selectmenu {
  position: relative;
}
.selectmenu__picked {
  padding: 1rem 0.5rem;
  display: flex;
  align-items: center;
  background-color: inherit;
  position: relative;
  cursor: pointer;
  display: flex;
  width: 100%;
}
.selectmenu__expand {
  margin-left: 0.5rem;
}
.selectmenu__dropdown {
  width: 90%;
  position: absolute;
  transform-origin: top;
  background-color: #FFFCF8;
  height: auto;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  box-shadow: 4px 4px 24px rgba(216, 215, 211, 0.5), -4px -4px 16px #fff;
  z-index: 1;
}
.selectmenu__item {
  color: #776B5E;
  cursor: pointer;
  line-height: 130%;
  padding: 0.5rem;
  background-color: inherit;
  transition: all 0.35s;
  min-width: 7rem;
}
.selectmenu__item:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.selectmenu__item:hover {
  background-color: #F2EADF;
}
.selectmenu__item--top:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.selectmenu__item--new {
  background-color: #FAF3ED;
  text-align: center;
  font-weight: bold;
  padding: 1rem 0.5rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.basicselect {
  width: 5rem;
  display: flex;
  flex-direction: column;
  background-color: #FAF3ED;
  box-shadow: 4px 4px 24px rgba(216, 215, 211, 0.5), -4px -4px 16px #fff;
  position: absolute;
  z-index: 2;
}

.drawer {
  border: 1px solid #F2EADF;
  width: 15rem;
  border-radius: 0.5rem;
  margin-left: 0.5rem;
  background-color: #FAF3ED;
}
.drawer__tab {
  color: #C7BEB6;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
}
.drawer__item {
  padding: 1rem;
}
.drawer__dropdown {
  min-height: 5rem;
  max-height: 75vh;
  overflow: scroll;
  transform-origin: bottom center;
}

.fixedTab {
  position: absolute;
  bottom: 0;
  left: 0;
}

.listmenu__title {
  padding-bottom: 1rem;
  letter-spacing: 1.5px;
}
.listmenu__item {
  cursor: pointer;
  color: #776B5E;
  padding-bottom: 0.5rem;
  transition: all 0.35s;
}
.listmenu__item:hover {
  color: #312F2C;
}
.listmenu__item.active {
  color: #433D37;
}
.listmenu__item.active::after {
  content: "—";
  margin-left: 0.5rem;
}

.filter {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  height: 3rem;
  background-color: #F2EADF;
  border-radius: 0.5rem;
}
.filter__item {
  cursor: pointer;
  color: #776B5E;
  margin-right: 1.5rem;
  background-color: inherit;
  border-radius: 5px;
  padding: 0.5rem;
  transition: all 0.35s;
}
.filter__item--active {
  background-color: #EFDDC8;
  border-radius: 5px;
}
.filter__paint {
  width: 1.5rem;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  transition: all 0.35s;
  border-radius: 5px;
}
.filter__paint--active {
  background-color: #EFDDC8;
}

.accordion {
  background-color: #FAF3ED;
  border: 1px solid #EFDDC8;
  border-radius: 0.5rem;
  width: 100%;
}
.accordion__panel {
  overflow: hidden;
}
.accordion__panel__input {
  display: none;
}
.accordion__panel__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
  padding: 1rem;
}
.accordion__panel__label::after {
  content: "◢";
  color: #776B5E;
  position: relative;
  top: 50%;
  transform: rotate(135deg) scale(0.5) translateY(30%);
}
.accordion__list {
  list-style: none;
  max-height: 0rem;
  transition: all 0.35s;
}
.accordion__item {
  color: #776B5E;
  position: relative;
  cursor: pointer;
  padding: 0.75rem;
  border: 1px solid transparent;
  padding-left: 1.5rem;
}
.accordion__item:hover {
  border: 1px solid #EA9144;
}

input:checked + .accordion__panel__label::after {
  content: "◢";
  color: #776B5E;
  position: relative;
  top: 50%;
  transform: rotate(45deg) scale(0.5) translateY(-50%);
  transition: all 0.35s;
}

input:checked ~ .accordion__list {
  max-height: 100vh;
}

.dnd {
  background-color: inherit;
  color: inherit;
  transition: all 0.15s;
}
.dnd__drop {
  background-color: #FFFCF8;
  color: #FFFCF8;
  border: 1px solid #EFDDC8;
}

.slide {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.slide__header {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0 1.5rem;
  justify-content: space-between;
}

/* link preview */
.linkCard > .react_tinylink_card {
  border: none !important;
  padding: 0 !important;
  height: 3rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.linkCard > .react_tinylink_card:hover {
  background-color: inherit !important;
}
.linkCard > .react_tinylink_card > .react_tinylink_card_content_wrapper {
  padding: 0 !important;
}
.linkCard > .react_tinylink_card > .react_tinylink_card_content_wrapper > .react_tinylink_card_content {
  display: none !important;
}
.linkCard > .react_tinylink_card > .react_tinylink_card_content_wrapper > .react_tinylink_card_content + .react_tinylink_footer {
  padding: 5px !important;
  font-family: "Graphik", sans-serif;
}
.linkCard > .react_tinylink_card > .react_tinylink_card_content_wrapper > .react_tinylink_card_content + .react_tinylink_footer > .react_tinylink_card_footer_description {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  text-align: center !important;
}
.linkCard > .react_tinylink_card > .react_tinylink_card_content_wrapper > .react_tinylink_card_content_header {
  display: none !important;
}

.react_tinylink_card {
  width: 100% !important;
  border-radius: 0.5rem;
  border: 1px solid #F2EADF !important;
  padding: 1rem;
  box-shadow: none !important;
  background-color: #FFFCF8 !important;
  transition: all 0.35s !important;
}
.react_tinylink_card:hover {
  background-color: #F2EADF !important;
}
.react_tinylink_card_footer_description {
  color: #776B5E !important;
  font-size: 0.8rem !important;
}

.react_tinylink_card_media {
  opacity: 65% !important;
}

.react_tinylink_card_content {
  font-family: "Graphik", sans-serif;
}
.react_tinylink_card_content_header_description {
  font-weight: normal !important;
  font-size: 0.9rem !important;
  color: #776B5E !important;
}
.react_tinylink_card_content_description {
  font-size: 0.8rem !important;
  color: #C7BEB6 !important;
}

.linkCard {
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.comment {
  background-color: #FAF3ED;
  padding: 1rem 0.5rem 0 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}
.comment__body {
  display: flex;
}
.comment__X {
  flex-shrink: 1;
  height: 1rem;
}
.comment__text {
  text-transform: none;
  letter-spacing: 0.5px;
  margin: 0 1rem;
}
.comment__author {
  flex-shrink: 1;
  align-self: flex-end;
  color: #C7BEB6;
}

.commentList > *:not(:first-child) {
  margin-bottom: 1rem;
}

.inlineComment {
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  margin-bottom: 1.5rem;
  border: 3px solid #F2EADF;
  resize: none;
}
.inlineComment::placeholder {
  color: #C7BEB6;
}

.inbox {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #EFDDC8;
  border-radius: 0.5rem;
  background-color: #FAF3ED;
  padding: 1rem;
}

.inboxPreview {
  margin-bottom: 0.5rem;
  border: 1px solid #ebe9e5;
  border-radius: 5px;
  background-color: #F2EADF;
  padding: 0.5rem;
  display: flex;
  cursor: pointer;
  position: relative;
}
.inboxPreview:last-child {
  margin-bottom: 0;
}
.inboxPreview__text {
  flex: 0 0 95%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}
.inboxPreview__subject {
  font-weight: bold;
}
.inboxPreview__body {
  color: #776B5E;
}
.inboxPreview__fade {
  position: absolute;
  height: 100%;
  width: 3rem;
  right: 0;
  z-index: 1;
  background: linear-gradient(to right, transparent, #F2EADF);
}
.inboxPreview__X {
  flex: 0 0 5%;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
}

.paginate {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 1rem;
}
.paginate__L {
  position: absolute;
  left: 0;
}
.paginate__R {
  position: absolute;
  right: 0;
}

.popup {
  background-color: #FAF3ED;
  border: 1px solid #F2EADF;
  border-radius: 0.5rem;
  width: 15rem;
  min-height: 5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
}
.popup__wrapper {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.popup__header {
  padding-bottom: 1rem;
}
.popup__tags {
  padding-top: 1rem;
}
.popup__tags > * {
  padding-bottom: 5px;
}
.popup__item:not(:last-child) {
  padding-bottom: 1rem;
}

.postPreview {
  margin-bottom: 1.5rem;
  box-shadow: 4px 4px 16px rgba(220, 216, 209, 0.733), -4px -4px 16px #fff;
}

.pathLegend {
  overflow: hidden;
  max-height: 75vh;
  position: relative;
}
.pathLegend__container {
  position: fixed;
  right: 0%;
  top: 15%;
  width: 25%;
  height: 1rem;
  margin-top: 1rem;
  background-color: inherit;
}
.pathLegend__body {
  overflow: hidden;
}
.pathLegend__header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
}
.pathLegend__excerpt:first-child {
  padding-top: 1.5rem;
}
.pathLegend__excerpt {
  color: #776B5E;
  font-style: italic;
  padding-bottom: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.pathLegend__fade {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  height: 3rem;
  background: linear-gradient(to bottom, transparent, #FAF3ED);
}

.tagPathX {
  opacity: 0.5;
  display: inline-block;
  position: absolute;
  height: 5px;
  width: 10rem;
  transform: translateY(-50%);
  top: 50%;
  margin-left: -1rem;
}

.tagPathY {
  opacity: 0.5;
  display: inline-block;
  position: absolute;
  width: 5px;
  top: 45%;
}

.toolbar {
  display: flex;
  align-items: center;
  color: #776B5E;
}
.toolbar--styled {
  background-color: #FAF3ED;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border: 3px solid #F2EADF;
  border-bottom: none;
}

.inlineEdit {
  background-color: inherit;
  line-height: 1.5rem;
  border: 3px solid transparent;
  border-radius: 0.5rem;
  padding: 0.5rem;
  transition: all 0.35s;
  cursor: text;
}
.inlineEdit:hover {
  background-color: #FAF3ED;
  border: 3px solid #EFDDC8;
}
.inlineEdit:focus {
  background-color: #FAF3ED;
  border: 3px solid #EFDDC8;
}

.inlineText {
  line-height: 1.5rem;
  cursor: text;
  width: 20%;
  line-height: 100%;
}
.inlineText:hover {
  border: 3px solid transparent;
}

.tooltip {
  padding: 1rem;
  border-radius: 0.5rem;
  z-index: 5;
  width: 15rem;
  height: auto;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tooltip--black {
  color: #FFFCF8;
  background-color: #433D37;
  border: 1px solid #312F2C;
}
.tooltip--white {
  background-color: #FAF3ED;
  color: #433D37;
  border: 1px solid #EFDDC8;
}
.tooltip--left {
  top: 50%;
  transform: translate(-110%, -50%);
}
.tooltip--top {
  top: 100%;
  transform: translate(-50%, -110%);
}

.tooltip__float {
  position: relative;
  z-index: 5;
  animation: floatSoftly 3s ease-in-out infinite;
}

.tooltipAnchor {
  position: relative;
}

.tltp {
  padding: 5px;
  color: #FFFCF8;
  background-color: #433D37;
  border-radius: 5px;
  position: absolute;
  transform-origin: center left;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  white-space: nowrap;
}

/**
  &::after {
        content: '';
        background-color: $body-medium;
        height: 1rem;
        width: 3rem;
        right: 0;
        transform: translateX(1.5rem);
        clip-path: polygon(100% 50%, 0 0, 0 100%);
    }
**/
.listItem {
  color: #776B5E;
  cursor: pointer;
  line-height: 130%;
  padding: 0.5rem;
  background-color: inherit;
  transition: all 0.35s;
}

.thread {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.thread__header {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0;
}
.thread__header__L {
  display: flex;
  align-items: center;
}
.thread__header__R {
  display: flex;
}
.thread__header__R > * {
  margin-left: 1rem;
}
.thread__title {
  padding-bottom: 1rem;
}
.thread__metadata {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.5rem;
}
.thread__date {
  color: #C7BEB6;
}
.thread__comments {
  width: 95%;
  align-self: flex-end;
  margin-top: 1.5rem;
}

.threadComment {
  margin-bottom: 3rem;
}

.threadDraft {
  padding-top: 0.5rem;
  transform-origin: top;
}
.threadDraft__submit {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem;
}

.dndHeader__label, .dnd__item {
  padding: 0.5rem;
}

.dnd {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.dnd__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.dnd__header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.dnd__list {
  margin-bottom: 0.5rem;
  transition: all 0.35s;
}
.dnd__item {
  background-color: inherit;
  border: 1px solid transparent;
  transition: all 0.15s;
}
.dnd__item--nested {
  padding-left: 1.5rem;
}
.dnd__item:hover {
  background-color: rgba(247, 192, 110, 0.75);
}
.dnd__item > * {
  margin-right: 0.5rem;
}

.dndHeader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background-color: inherit;
  border-radius: 0.5rem;
  transition: all 0.35s;
}
.dndHeader__label {
  width: 100%;
  background-color: inherit;
  border: 1px solid transparent;
  transition: all 0.35s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.dndHeader__label:last-child {
  padding-left: 0.5rem;
}
.dndHeader__label:hover {
  background-color: rgba(247, 192, 110, 0.75);
  border: 1px solid rgba(247, 192, 110, 0.75);
}
.dndHeader__label:hover > .dndHeader__edit {
  color: #776B5E;
}
.dndHeader__label--edit {
  border: 1px solid rgba(247, 192, 110, 0.75) !important;
  background-color: #FFFCF8 !important;
  box-shadow: 0 0 5px rgba(247, 192, 110, 0.75);
}
.dndHeader__label--ungrouped {
  color: #C7BEB6;
  font-weight: normal;
}
.dndHeader__edit {
  color: transparent;
  position: absolute;
  right: -15%;
  transition: all 0.35s;
}

.group {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.group__add {
  display: flex;
  background-color: #FAF3ED;
  color: #C7BEB6;
  padding: 1rem;
  width: 90%;
}
.group__delete {
  cursor: pointer;
  margin-top: 0.5rem;
  flex: 0 0 10%;
}
.group__body {
  flex: 0 0 90%;
  display: flex;
  flex-direction: column;
}

.expandX {
  position: absolute;
  right: 0;
  top: 1rem;
}

.mapGroupIcon {
  margin-right: 0.5rem;
}

.versions {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  position: relative;
  padding: 1rem;
}

/*# sourceMappingURL=App.css.map */
