//layout homepage 
.skylight {
    position: relative; 
    align-self: flex-end;
    width: 90%; //**
    min-height: 70vh;
    height: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10%; 
    overflow: visible; 
    &__nav {
      position: fixed;
      left: 3rem;
      bottom: 1rem;
    }
  }

//SKYLIGHT VIEW
.floor {
  width: 100%; 
  height: 100%;
  //min-height: 15vh;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  margin-bottom: -5px;
  //border: 1px solid red; 
  & > *:nth-child(odd) {
    margin-top: -0.5rem;
  }
  & > *:nth-child(2) {
    margin-bottom: -0.5rem;
  }
}

//MAP VIEW
  .map{
    &__canvas {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      align-items: center;
      //border: 1px solid red; 
    }
    &__SVG {
      position: relative;
    //  border: 1px solid blue; 
    }
}  

.mapKey {
  padding: 3rem; 
  padding-top: 1.5rem;
  //align-self: center;
  &__item{
    } 
  }

//for map view 
.contour {
  transition: all $short-fade;
  &:hover {
      fill: $half-transparent; 
      stroke: $sand-bright; 
  }
}

.homeIcon {
  align-self: center;
  display: flex;
  border: 1.5px solid $body-medium;
  //background-color: $body-medium;
  border-radius: $border-smallest;
  transform: rotate(45deg);
  width: 3rem;
  height: 1.5rem;
  &__label {
    transform: rotate(-45deg) translate(3rem, -1.5rem);
    padding-left: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    //border: $border; 
  }
  &__pin {
    @extend %pin; 
    display: inline-block;
    position: absolute;
    left: 0;
  }
}

.nav__wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

//house legend popup
.houseLegend {
  display: block;
  box-shadow: none;
  position: absolute;
  top: 0;
  left: 0;
  &__wrapper {
      width: 100%;
      display: flex;
      position: relative;
  }
}