//layout homepage 
.map { // main screen 
    align-self: flex-end;
    width: 100%;
    min-height: 70vh;
    height: 100%;
    display: flex;
    justify-content: flex-start; 
    overflow: visible;
    //border: $border; 
    gap: 3rem;
  &__canvas { //path or layer view  
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-size: 1rem 1rem;
    background-image:
      linear-gradient(to right, $sand 1px, transparent 1px),
      linear-gradient(to bottom, $sand 1px, transparent 1px);
    border-right: 1px solid $sand;
    border-bottom: 1px solid $sand;
    padding: 1.5rem;
    margin-top: 1rem;
  }
  &__key { // menu 
    flex: 0 0 15%;
    height: 100%; 
    display: flex;
    flex-direction: column;
}  
    &__nav { // fixed nav 
      position: fixed;
      top: 1rem;
      right: 3rem;
    }
  }


.homeButton {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
}

//house legend popup
.houseLegend {
  background-color: $sand; 
  border: 1px solid $sand2;
  border-radius: $border-small;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}


/*
.homeIcon {
  //align-self: center;
  position: absolute;
  left: 40%;
  bottom: 0;
  display: flex;
  border: 1.5px solid $body-medium;
  transform: rotate(45deg);
  width: 3rem;
  height: 1.5rem;
  &__label {
    transform: rotate(-45deg) translate(3rem, -1.5rem);
    padding-left: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__pin {
    @extend %pin; 
    display: inline-block;
    position: absolute;
    left: 0;
  }
}*/