//header for landing page only
.landing {
    &__header {
      width: 10rem;
      align-self: flex-end; 
      display: flex;
      justify-content: space-between;
    }
    &__body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
  }