//** general page settings + header **// 
.page { 
    background-color: $off-white;
    height: 100vh;
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    padding-top: 0;
    &__header {
      align-self: center;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__title {
      text-transform: capitalize;
    }
    &__links {
      display: flex
    }
    &__links > * {
      padding-right: 3rem;
    }
}

//header for landing page only
.landing {
  &__header{
    width: 10rem;
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
  }
}
 
//layout homepage 
.skylight {
  display: flex;
  width: 100%;
  height: 100%;
  &__sidebar {
    flex: 0 0 5%;
    display: flex;
    align-items: flex-end;
  }
  &__layout {
    flex: 0 0 95%;
  }
}

.floor {
  display: flex;
  &__plan { // center the cards on page
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
}

// custom style for nav bar at home
.bottom {
    border-radius: 0;
    border-bottom-right-radius: $border-small;
    border-bottom-left-radius: $border-small;
}