//** general page settings + header **// 
.page { 
    background-color: $off-white; 
    height: 100vh;
    width: 100%;
    overflow: scroll;
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding: 3rem; 
    padding-top: 0;
    &__header {
      align-self: center;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 1rem;
    }
  //page info bar 
    &__info {
      width: 100%;
      height: auto; 
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
    &__title {
      width: 90%;
      align-self: flex-start;
      margin-left: -1rem; // align with sidebar
      margin-bottom: 1rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    &__delete {
      padding-right: 3rem;
      padding-top: 0.5rem;
    }
    &__links {
      display: flex
    }
    &__links > * {
      padding-right: 3rem;
    } 
    //generic template 
    &__body {
      flex: 0 0 80%;
      border: $border;
    }
    &__sidebar {
      flex: 0 0 20%;
      border: $border; 
    }
}


 
