.room {
    display: flex;
    height: 100%;
    width: 100%;
    margin-top: 1rem;
    &__sidebar { 
        flex: 0 0 15%; 
        //margin-top: 1rem; 
        margin-right: 3rem;
        & > * {
            margin-bottom: 3rem;
        }
    }
    &__body { // standardized room layout for all 3 views //
        width: 55%;
        margin-top: 1rem;
        //border: 1px solid rgba(255, 0, 0, 0.075); 
        position: relative;
        margin-right: 1rem;
    }
}

// empty room (all views)
.emptyRoom {
    height: 25vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

// custom style for add btn
.fixedBtn {
    position: fixed;
    bottom: 3rem;
    left: 3rem;
  }

