.upload { 
    background-color: $sand;
    line-height: 1.5rem;
    border: 3px solid $sand2; 
    border-radius: $border-small;
    padding:  1rem;
    width: 100%;
    display: flex;
    margin-top: 3px;
    height: auto; 
    
    //lay out upload form
    &__container {
        display: flex;
        margin-top: 15%; //buffer at pg top 
    }
    &__controller { // button bar
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 0 0 5%; 
        align-self: flex-start;
        margin-right: 5%;
        &:first-child {
            padding-bottom: 1rem;
        }
    }
    &__form { //upload, tags, and comments
        flex: 0 0 90%;
    }
    &__tags {
        display: flex;
        padding-top: 1.5rem;
    }
    //labels for tags and comments 
    &__label {
        padding-top: 1rem;
        flex: 0 0 15%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        &.active{
            cursor: pointer;
            &:hover { font-style: italic; }
        }
       
    }
}



.tooltip__wrap {
    flex: 0 0 50%;
    border: 1px solid red; 
    position: relative;
    display: flex;
    align-items: flex-end;
}