//!
.grow {
    &-enter {  
        max-height: 0;
        overflow: hidden;
    }
    &-enter-active {
        max-height: 100vh;
        overflow: hidden;
        transition: max-height .35s ease-in-out;
    }
    &-enter-done { 
        max-height: 100vh;
    }
    &-exit { 
        max-height: 100vh;
    }
    &-exit-active {
        max-height: 0;
        overflow: hidden;
        transition: max-height .35s ease-in-out; 
    }
    &-exit-done { 
        max-height: 0;
        overflow: hidden
    }
}

.rollDown {
    &-enter {  
        transform: scaleY(0.0);
    }
    &-enter-active {
        transform: scaleY(1);
        transition: transform 0.2s ease-in;
    }
    &-enter-done { 
        transform: scaleY(1);
    }
    &-exit { 
        transform: scaleY(1);
    }
    &-exit-active{
        transform: scaleY(0.0);
        transition: transform 0.35s ease-out; 
    }
    &-exit-done { 
        transform: scaleY(0.0)
    }
}

//flies off screen
.rollOut {
    &-enter { 
        transform: translateY(-100%);
    }
    &-enter-active {
        transform: translateY(0);
        transition: transform 0.2s;
    }
    &-enter-done { 
        transform: translateY(0);
    }
    &-exit { 
        transform: translateY(0);
    }
    &-exit-active{
        transform: translateY(-100%);
        transition: transform 0.2s cubic-bezier(0.12, 0, 0.39, 0); 
    }
    &-exit-done { 
        transform: translateY(-100%);
    }
}

//flies off screen
.rollOutX {
    &-enter { 
        transform: translateX(100%);
    }
    &-enter-active {
        transform: translateX(0);
        transition: transform 0.2s;
    }
    &-enter-done { 
        transform: translateX(0);
    }
    &-exit { 
        transform: translateX(0);
    }
    &-exit-active{
        transform: translateX(100%);
        transition: transform 0.2s cubic-bezier(0.12, 0, 0.39, 0); 
    }
    &-exit-done { 
        transform: translateX(100%);
    }
}

//rollDown + fade out
.rollDownFadeOut {
    &-enter {  
        transform: scaleY(0.0);
    }
    &-enter-active {
        transform: scaleY(1);
        transition: transform 0.2s ease-in;
    }
    &-enter-done { 
        transform: scaleY(1);
    }
    &-exit { 
         opacity: 1;
    }
    &-exit-active{
        opacity: 0.5;
        transition: opacity 0.2s ease-in; 
    }
    &-exit-done { 
        opacity: 0;
    }
}

.fade {
    &-enter { 
        opacity: 0;
    }
    &-enter-active {
        opacity: 1;
        transition: opacity $short-fade ease-in;
    }
    &-enter-done { 
        opacity: 1; 
    }
    &-exit { 
       opacity: 1;
    }
    &-exit-active{
        opacity: 0;
        transition: opacity $short-fade ease-in;
    }
    &-exit-done { 
        opacity: 0;
    }
}

.quickFade {
    &-enter { 
        opacity: 0;
    }
    &-enter-active {
        opacity: 1;
        transition: opacity 0.15s ease-in;
    }
    &-enter-done { 
        opacity: 1;
    }
    &-exit { 
       opacity: 1;
    }
    &-exit-active{
        opacity: 0;
        transition: opacity 0.15s ease-in;
    }
    &-exit-done { 
        opacity: 0;
    }
}

.openDrawer {
    &-enter { 
        transform: translateY(150%);
    }
    &-enter-active {
        transform: translateY(0%);
        transition: transform 0.35s;
    }
    &-enter-done { 
        transform: translateY(0%);
    }
    &-exit { 
        transform: translateY(0);
    }
    &-exit-active{
        transform: translateY(100%);
        transition: transform 0.35s; 
    }
    &-exit-done { 
        transform: translateY(100%);
    }
}

.zoomIn {
    &-enter { 
        transform: scale(1);
        filter: blur(0.5rem);
    }
    &-enter-active {
        transform: scale(1.1);
        filter: blur(1rem);
        transition: transform 0.25s ease-in-out;
    }
    &-enter-done { 
        transform: scale(1);
    }
}

.zoom { //neutral zoom 
    &-enter { 
        transform: scale(1);
        filter: blur(0.5rem);
    }
    &-enter-active {
        transform: scale(.99);
        filter: blur(1rem);
        transition: all 0.25s ease;
    }
    &-enter-done { 
        transform: scale(1);
    }
}

.zoomOut {
    &-enter { 
        opacity: .25;
        transform: scale(1);
        filter: blur(0.5rem);
    }
    &-enter-active {
        opacity: .5;
        transform: scale(0.9);
        filter: blur(1rem);
        transition: all 0.25s ease-in-out;
    }
    &-enter-done { 
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes floatSoftly {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0px);
    }
    
}

/*
//!
.grow {
    &-enter {  
        max-height: 0;
        overflow: hidden
    }
    &-enter-active {
        max-height: 100vh;
        transition: max-height .35s ease-in-out;
    }
    &-enter-done { 
        max-height: 100vh;
    }
    &-exit { 
        max-height: 100vh;
    }
    &-exit-active{
        max-height: 0;
        transition: max-height .35s ease-in-out; 
    }
    &-exit-done { 
        max-height: 0;
        overflow: hidden
    }
}
*/