/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600&display=swap');

@font-face {
  font-family: 'Graphik';
  src: url(./assets/Graphik/Graphik.otf);
}

@font-face {
  font-family: 'Graphik-Light';
  src: url(./assets/Graphik/Graphik-Extralight.otf);
}

/* base styles */
*,
*::after,
*::before{
      margin: 0;
      padding: 0;
      border: 0;
      box-sizing: inherit;
  }

html {
    box-sizing: border-box;
    font-size: 90%;
    width: 100%;
    color: $body;
  }

//highlight 
::selection {
    background-color: $sand-bright;
  }

blockquote {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}


/* text styles */
h1 { 
  font-size: 2.5rem;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
}

h2 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
}

h3 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.5rem;
  letter-spacing: 1.5px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

h4, button, li, .search__bar {
    font-family: 'Graphik', sans-serif;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 1px;
    font-weight: 400;
  }

h5, label, figcaption {
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  font-weight: 600;
}

h6 { 
  font-size: .7rem;
  letter-spacing: 0.5px;
  font-family: 'Graphik', sans-serif;
  font-weight: 400;
}

p {
  font-family: 'Work Sans', sans-serif;
  font-size: 0.9rem;
  line-height: 130%;
}

code, pre {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
}

a {
  text-decoration: none;
  color: $body-light;
  cursor: pointer;
} 

//remove and change default styling
input, textarea {
  font-family: 'Graphik', sans-serif;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  color: $body;
    &:focus{
      outline: none;
      border: none;
    }
  }

button {
    background: none;
    border: none;
    padding: none;
    cursor: pointer;
    &:focus{
      outline: none;
    }
  }

  textarea {
    resize: none; //disable user resizing
  }

  menu, ul {
    list-style: none;
  }

%pin {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: $body-light;
  cursor: pointer;
}