$blob: lightgreen; 

%lump { 
    content: '';
    display: block;
    position: absolute;
    background-color: inherit;
    border-radius: 50%;
    z-index: -1;
}

%circle {
    border-radius: 50%;
    position: relative; 
}

//for testing
// blob for tests
.blobTest {
    display: block;
    width: 10rem;
    height: 10rem;
    background-color: $blob;
    border-radius: 70% 30% 30% 62% / 53% 40% 60% 40%;
};

.contour1 {
    position: relative;
    width: 10rem; //100
    height: 20rem; //115
    display: flex;
}

//NEW APPROACH
.circle {
    display: inline-block;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    position: absolute;
    background-color: $blob;
}

#c1a {
   //width: 85%;
    //height: 82.5%;
    top: 0;
    right: 0;
    //border: 1px solid green; 
    &::after {
        @extend %lump;
        height: 95.5%;
        width: 87%;
        bottom: 0;
        transform: translateY(50%);
        //border: 1px solid green; 
    }
}

#c1b {
    height: 95.5%;
    width: 87%;
    bottom: 0;
}

#c2 {
    border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
}









.flat {
    border-radius: 21% 13% 50% 60% / 69% 34% 81% 41%; //flat bottom 
}

.squat {
    height: 5rem;
}

.circle {
    border-radius: 50%;
}

.square {
    border-radius: 69% 100% 37% 86% / 76% 67% 42% 32%;
}

.squareTall {
    border-radius: 69% 100% 37% 86% / 76% 67% 42% 32%;
    height: 10rem;
    position: relative;
    &::after {
        @extend %lump;
        height: 4rem;
        width: 4rem;
        //background-color: red;
        bottom: 0;
        left: -5%;
        z-index: 3;
    }
}

//flat bottom
//first + last 100% vals will control L and R corners 
.semiCircle {
    border-radius: 100% 100% 100% 100% / 100% 100% 0% 0%;
}

.extrude {
    @extend %circle;
    &::after{
        @extend %lump;
        top: 0;
        left: 0;
        height: 4rem;
        width: 3rem;
        transform: rotate(-30deg);
    }
}

.extrudeTwice {
    @extend %circle;
    &::before{
        @extend %lump;
        top: 0;
        right: 50%;
        height: 3rem;
        width: 4rem;
        transform: rotate(180deg) translate(-50%, 20%);
    }
    &::after{
        @extend %lump;
        top: 0;
        left: 0;
        height: 2rem;
        width: 3rem;
        transform: rotate(-30deg);
    }
}

.splat {
    border-radius: 100% 86% 83% 99% / 100% 100% 92% 75%; //near-perfect circle 
    position: relative;
    &::after {
        @extend %lump;
        right: 10%;
        height: 1rem;
        width: 1rem;
        transform: translateY(-1rem);
    }
    &::before {
        @extend %lump;
        right: 0;
        height: 1.5rem;
        width: 1.5rem;
    }
}

//style classes 
#rotate {
    transform:rotate(70deg) translateY(3rem);
}

#flatTop {
    transform: scaleY(-1); 
}




///LAYOUT
.blobGarden {
    display: flex;
    flex-direction: column;
    border: 1px solid $shadow;
    width: 100vw;
    padding: 1rem; 
    &__row {
        display: flex;
    }
}

.blobParent {
    transform: translateX(3rem);
    padding: 1rem; 
}

figure {
    display: flex;
    flex-direction: column;
    padding: 1rem; 
    align-items: center;
}

figcaption {
    padding: 0.5rem 0;
}

/*
// border-radius: 93% 71% 87% 79% / 76% 72% 91% 91%;
    //border-radius: 93% 71% 87% 79% / 76% 72% 91% 91%;



    &::after{
        @extend %lump;
        width: 2rem;
        height: 1rem;
        bottom: 0;
        left: 50%;
        transform: translate(-90%, 30%);
        //background-color: red;
    }
*/