//phased breadcrumbs
.breadcrumbs {
    display: flex;
    justify-content: space-between;
    color: $body-lightest;
}

.crumb--w {
    &.active { color: $body-medium; }
}

//nav breadcrumbs
.crumb + .crumb::before {  
    content: '/';
    color: inherit;
    margin: 0 3rem;
}
