//phased breadcrumbs 
.breadcrumbs {
    display: flex;
    justify-content: space-between;
    color: $body-lightest;
}
.crumb--w {
    &.active { color: $body-medium; }
}

//nav breadcrumbs
.breadcrumbsNav {
    display: flex;
}

.crumb {  
    &--active {
        color: $body;
    }
    &__break {
        margin: 0 1.5rem;
    }
}
