.nav__wrapper{
  display: flex;
  align-items: center;
  & * {
    border-radius: $border-small;
  }
}

.btnbarWrapper{
  display: inline-flex;
  background-color: $sand2;
  &.column{
      flex-direction: column;
  }
  &.row {
      flex-direction: row;
  }
}

.tooltipWrapper {
  display: inline-block;
  position: relative;
  background-color: $sand2;
  &--column:first-child {
      border-top-right-radius: $border-small;
      border-top-left-radius: $border-small;
      } 
  &--column:last-child {
      border-bottom-right-radius: $border-small;
      border-bottom-left-radius: $border-small;
    } 
  &--row:first-child{
      border-top-left-radius: $border-small;
      border-bottom-left-radius: $border-small;
  }
  &--row:last-child {
      border-top-right-radius: $border-small;
      border-bottom-right-radius: $border-small;
    }  
  &--solo {
  background-color: $sand;
  border-radius: $border-small;
  }
}

.navBtn--column {
  background-color: $sand2;
  &:first-child {
    border-top-right-radius: $border-small;
    border-top-left-radius: $border-small;
  }
  &:last-child {
    border-bottom-right-radius: $border-small;
    border-bottom-left-radius: $border-small;
  }
}
