//buttons
.btn {
        min-height: 3rem;
        min-width: 3rem;
        border-radius: $border-small; 
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all $short-fade;
        background-color: $sand2;
       // border: 1px solid $soft-outline;
        &:hover {
         // box-shadow:  2px 2px 8px $shadow;  
         // border-radius: $border-small;
        }
        &:active {
          background-color: $sand2;
        }
        &--active {
          background-color: $sand3;
          & .btn:hover {
            box-shadow: none;
          }
        }
        &--CTA {
          width: 6rem;
          background-color: $sand3;
        }
        &.warning{
          background-color: $error;
        }
}

//inline buttons
.inlineBtn {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover{
    font-style: italic;
  }
}

//react icons
.icon {
  font-size: 1.2rem; 
  color: $body-lightest;
  transition: all $short-fade;
  &__btn {
    cursor: pointer;
    &:hover { color: $body-light; }
  }
  &--active { color: $body }
  &--small { font-size: 0.8rem; }
}

//fixed btn
.fixedBtn {
  position: fixed;
  bottom: 3rem;
  left: 3rem;
}

//dot  
d {
  display: inline-block;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: $body-light;
  transition: all .2s ease-in-out;
}

