%btn {
  min-height: 3rem;
  min-width: 3rem;
  border-radius: $border-small; 
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all $short-fade;
  background-color: inherit;
}

//buttons
.btn {
  @extend %btn; 
  &:active,
  &.active {
      background-color: $sand2;
    }
  &.warning{
      background-color: $error;
    }
}

//inline buttons
.CTA {
  min-width: 6rem;
  padding: 0 0.5rem;
  border: 3px solid transparent;
  &.primary { 
    background-color: $sand3;
  }
  &.secondary {
    background-color: $body-medium;
    color:$off-white;
  }
  &.outline {
    border: 3px solid $sand2;
  }
  &.inline {
    &:hover{
      font-style: italic;
    }
  } 
  &.ghost{
    color: $body-lightest;
    background-color: $sand2;
  }
}
