.card {
    position: relative;
    padding:1rem;
    width:100%;
    height:10rem;
    display: flex; 
    border: 1px solid $sand3; 
    border-radius: $border-small;
    background-color: $sand;
    cursor: pointer; 
    &__label { 
        padding: 1rem;
        position: absolute;
    }
    &__body {
        padding: 1.5rem; 
        height: 100%;
        width: 100%; 
        display: flex;
        flex-wrap: wrap;
       // overflow: scroll; // height problem?
    }
    &.front {  
        z-index: 3;
        border-color: $sand;
        background-color: $off-white;
        box-shadow: $softest-shadow;
    }
    &.middle {
        z-index: 2;
        border-color: $sand;
        background-color: hsl(34, 100%, 99%);
        box-shadow: $softer-shadow; 
    }
    &.middleBack { 
        z-index: 1;
        background-color: hsl(34, 100%, 99%);
        box-shadow: $soft-shadow; 
    }
    &.back { 
        z-index: 0;
        background-color: hsl(30, 37%, 97%);
        box-shadow: $soft-shadow; 
    }
}
 

//versioning
//don't apply margin to latest child
.card__v {
    margin-bottom: -8rem;
    box-shadow: -1px -4px 0.5rem $shadow; 
    transition: all $short-fade;
    &:last-child{
        margin-bottom: 0; 
    }
    &:hover {
        margin-bottom: 0; 
        box-shadow: inset -2px -4px 1rem $off-white; 
    }
}