
.card {
    position: relative;
    min-width: 35%;
    max-width: 50%;
    height: 100%;
    min-height: 10vh;
    max-height: 80vh;
    display: flex; 
    border: 1px solid $sand2; 
    border-radius: $border-small;
    background-color: $off-white;
    transition: all .2s ease-in-out; 
    transition-property: border, width, margin;
    cursor: pointer; 
    overflow: visible;
    &__label { 
        padding: 1rem;
        position: absolute;
    }
    &__body {
        padding: 1.5rem;
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
       // overflow: scroll; // height problem?
    }
    &.front {  
        z-index: 3;
        border-color: $sand;
        background-color: $off-white;
        box-shadow: $softest-shadow;
    }
    &.middle {
        z-index: 2;
        border-color: $sand;
        background-color: hsl(34, 100%, 99%);
        box-shadow: $softer-shadow; 
    }
    &.middleBack { 
        z-index: 1;
        background-color: hsl(34, 100%, 99%);
        box-shadow: $soft-shadow; 
    }
    &.back { 
        z-index: 0;
        background-color: hsl(30, 37%, 97%);
        box-shadow: $soft-shadow; 
    }
}
 
