.drag {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    min-height: 6.5rem;
    width: 100%;
    border: 1px solid transparent;
    border-radius: $border-small;
    transition: all $short-fade;
    cursor: pointer;
    border: 1px solid $off-white; 
    &--active{
        background-color: $off-white;
        border: 1px solid $sand3;
    }
}