//draft-js custom styling 
.DraftEditor-root {
    border-radius: $border-small;
    background-color: $off-white;
    width: 100%;
}

.DraftEditor-editorContainer {
    text-align: left;
    min-height: 6.5rem;
}

.public-DraftEditor-content {
    font-family: 'Graphik', sans-serif;
    line-height: 180%;
    font-size: 0.9rem;
}

.editorWrapper {
    width: 100%;
    padding: 1rem;
    background-color: $off-white;
    border-radius: $border-small;
}

.editorTag {
    padding: 2px;
    border-radius: 3px;
}

//STYLE BUTTONS
.toolbar {
    display: flex;
    align-items: center;
    background-color: $sand;
    color: $body-light;
}

//set styles for edit components 
.public-DraftStyleDefault-ul,
.public-DraftStyleDefault-ol {
    margin: 1em 0; 
    padding-left: 2.5em; 
}

h1[data-block] {
   font-family: 'Graphik', sans-serif;
   font-size: 1.8rem;
   line-height: 200%;
}

h2[data-block] {
    font-family: 'Graphik', sans-serif;
    font-size: 1.5rem;
    line-height: 170%;
 }

 h3[data-block] {
    font-family: 'Graphik', sans-serif;
    font-size: 1.17rem;
 }

 h4[data-block] {
    font-family: 'Graphik', sans-serif;
    font-size: 1rem;
    text-transform: none;
 }

 h5[data-block] {
    font-family: 'Graphik', sans-serif;
    font-size: 0.83rem;
    font-weight: 400;
 }

 h6[data-block] {
    font-family: 'Graphik', sans-serif;
    font-size: 0.67rem;
 }