.inlineForm {
    width: 35%; 
    text-align: center;
    &__notif {
      height: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__submit {
      padding-top: 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
}

.pageForm{
  width: 70%;
}

.formFields > * {
  margin-bottom: 1.5rem;
}