.input {
    background-color: $sand;
    line-height: 1.5rem;
    border: 3px solid $sand; 
    border-radius: $border-small;
    padding: 0.5rem;
    width: 100%;
    transition: all $short-fade;
    &:focus { border: 3px solid $sand3; }
    &--fail { border: 3px solid $error-light;
            &:focus{
              border: 3px solid $error; }
          }
    &--white {
        background-color: $off-white;
        border: 3px solid $sand2;
        }
    }

.longInput {
    transform-origin: top;
    min-height: 5rem;
}

    