.inlineEdit {
    background-color: inherit; 
    line-height: 1.5rem;
    border: 3px solid transparent; 
    border-radius: $border-small;
    padding: 0.5rem;
    transition: all $short-fade;
    cursor: text;
    &:hover { 
        background-color: $sand; 
        border: 3px solid $sand3; 
    }
    &:focus {
        background-color: $sand; 
        border: 3px solid $sand3; 
    }
}

.inlineText {
    line-height: 1.5rem;
    cursor: text;
    width: 20%;
    line-height: 100%;
    &:hover {
        border: 3px solid transparent;
    }
}

