.library {
    &__body {
        flex: 0 0 55%; 
    }
    &__sidebar {
        flex: 0 0 45%;
        padding: 1rem;
    }
}


//STYLE BUTTONS
.toolbar {
    display: flex;
    align-items: center;
    background-color: $sand;
    color: $body-light;
    border-top-left-radius: $border-small;
    border-top-right-radius: $border-small;
}
