//select menu 
.selectmenu {
    &__picked {
       // border: 1px solid red; 
        padding: 0.5rem 0.5rem;
        display: flex;
        align-items: center;
        background-color: inherit;
        position: relative;
    }
    &__expand {
        margin-left: 0.5rem;
    }
    &__dropdown {
        position: absolute;
        transform-origin: top;
      //  border: 1px solid $sand; 
    }
    &__item {
        color: $body-light;
        cursor: pointer;
        padding: 1rem 0.5rem;
        background-color: inherit;
        transition: all $short-fade;
        border-radius: $border-smallest;
        &:hover {
            background-color: $sand2;
        }
    }
}

//list menu 
.listmenu {
    &__title {
        //font-weight: 600;
        padding-bottom: 1rem;
        letter-spacing: 1.5px;
    }
    &__item {
        cursor: pointer;
        color: $body-light; 
        padding-bottom: 0.5rem;
        transition: all $short-fade;
        &:hover {
            color: $body;
        }
        &.active{
           // font-style: italic;
            color: $body-medium;
            &::after {
                content: '✴';
                margin-left: 0.5rem;
            }
        }
    }
}