//select menu 
.selectmenu{
    width: 10rem;
    border: 1px solid blue; 
}

//list menu 
.listmenu {
    &__title {
        //font-weight: 600;
        padding-bottom: 1rem;
        letter-spacing: 1.5px;
    }
    &__item {
        cursor: pointer;
        color: $body-light; 
        padding-bottom: 0.5rem;
        transition: all $short-fade;
        &:hover {
            color: $body;
        }
        &.active{
           // font-style: italic;
            color: $body-medium;
            &::after {
                content: '✴';
                margin-left: 0.5rem;
            }
        }
    }
}