%menuItem {
    cursor: pointer;
    background-color: inherit;
    transition: all $short-fade;
    padding: 0.5rem;
}

//dropdown select menu w/ active item
.selectmenu { 
    position: relative;
    &__picked {
        padding: 1rem 0.5rem;
        display: flex;
        align-items: center;
        background-color: inherit;
        position: relative;
        cursor: pointer;
        display: flex;
        width: 100%;
    } 
    &__expand {
        margin-left: 0.5rem;
    }
    &__dropdown {
        width: 90%;
        position: absolute;
        transform-origin: top;
        background-color: $off-white;
        height: auto;
        border-bottom-left-radius: $border-small;
        border-bottom-right-radius: $border-small;
        box-shadow: $softest-shadow;
        z-index: 1;
    }
    &__item {
        color: $body-light; 
        cursor: pointer;
        line-height: 130%;
        padding: 0.5rem;
        background-color: inherit;
        transition: all $short-fade;
        min-width: 7rem;
        &:last-child {
            border-bottom-left-radius: $border-smallest;
            border-bottom-right-radius: $border-smallest;
        }
        &:hover {
            background-color: $sand2;
        }
        &--new {
            background-color: $sand;
            text-align: center;
            font-weight: bold;
            padding: 1rem 0.5rem;
            border-bottom-left-radius: $border-smallest;
            border-bottom-right-radius: $border-smallest;
        }
    }
}

//basic select menu
.basicselect {
    width: 5rem; 
    display: flex;
    flex-direction: column;
    background-color: $sand;
    box-shadow: $softest-shadow;
    position: absolute;
    z-index: 2;
}

//non-select menu 
.drawer {
    border: 1px solid $sand2;
    width: 15rem; 
    border-radius: $border-small;
    margin-left: 0.5rem;
    background-color: $sand; 
    &__tab {
        color: $body-lightest;
        padding: 1rem;
        text-align: center;
        cursor: pointer;
    }
    &__item {
        padding: 1rem
    }
    &__dropdown {
        min-height: 5rem;
        max-height: 75vh;
        overflow: scroll;
        transform-origin: bottom center;
    }
}
.fixedTab {
    position: absolute;
    bottom: 0;
    left: 0;
}

//list menu 
.listmenu {
    &__title {
        padding-bottom: 1rem;
        letter-spacing: 1.5px;
    }
    &__item {
        cursor: pointer;
        color: $body-light; 
        padding-bottom: 0.5rem;
        transition: all $short-fade;
        &:hover {
            color: $body;
        }
        &.active {
            color: $body-medium;
            &::after {
                content: '—';
                margin-left: 0.5rem;
            }
        }
    }
}

//filter 
.filter {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    height: 3rem;
    background-color: $sand2;
    border-radius: $border-small;
    &__item {
        cursor: pointer;
        color: $body-light;
        margin-right: 1.5rem;
        background-color: inherit;
        border-radius: $border-smallest;
        padding: 0.5rem;
        transition: all $short-fade;
        &--active {
            background-color: $sand3;
            border-radius: $border-smallest;
        }
    }
    &__paint {
        width: 1.5rem;
        height: 85%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: inherit;
        transition: all $short-fade;
        border-radius: $border-smallest;
        &--active { background-color: $sand3;}
    }
}

//accordion menu 
.accordion {
    background-color: $sand; 
    border: 1px solid $sand3;
    border-radius: $border-small;
    width: 100%;
    &__panel {
    overflow: hidden;
        &__input { display: none; }
        &__label {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            cursor: pointer;
            padding: 1rem;
              &::after {
                content: "◢";
                color: $body-light;
                position: relative;
                top: 50%;
                transform: rotate(135deg) scale(0.5) translateY(30%);
              }
          }
        }
      &__list {
          list-style: none;
          max-height: 0rem;
          transition: all $short-fade;
      }
      &__item {
          color: $body-light;
          position: relative;
          cursor: pointer;
          padding: 0.75rem;
          border: 1px solid transparent;
          //border-radius: $border-smallest;
          padding-left: 1.5rem;
          &:hover {
              border: 1px solid $blue; 
          }
      }
    }
    input:checked + .accordion__panel__label::after {
        content: "◢";
        color: $body-light;
        position: relative;
        top: 50%;
        transform: rotate(45deg) scale(0.5) translateY(-50%);
        transition: all $short-fade;
    }
    input:checked ~ .accordion__list {
        max-height: 100vh;
    }

    .dnd {
        background-color: inherit;
        color: inherit;
        transition: all $shortest-fade;
        &__drop {
            background-color: $off-white;
            color: $off-white;
            border: 1px solid $sand3; 
        }
    }