//modal
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40rem;
    border-radius: $border-large;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: $softer-shadow;
    padding: 3rem; 
    line-height: 150%;
    &__X {
        position: absolute;
        right: 1rem;
        top: 1rem;
    }
    &__actions{
        display: flex;
        justify-content: flex-end;
        padding-top: 3rem;
        & > :first-child{
            margin-right: 3rem;
        }
    }
    &__background {
        position: absolute;  
        height: 100vh;
        width: 100vw;
        background-color: rgba(255, 255, 255, 0.8);
       // border: 1px solid blue; 
    }
}

//edit content modal 
.edit {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 40rem;
    width: 90vw;
    height: 85vh;
    border-radius: $border-small;
    background-color: $off-white;
    display: flex;
    box-shadow: $soft-shadow;
    padding: 3rem; 
    padding-bottom: 1rem;
    line-height: 150%;
    overflow: scroll;
    &__content {
        width: 100%;
        display: flex;
       // border: 1px solid orange;
    }
    &__sidebar {
        flex: 0 0 25%;
        padding-left: 1rem;
    }
    &__metadata {
        margin-bottom: 1.5rem;
    }
    &__body {
        flex: 0 0 75%;
        padding: 0 5rem;
       // border: 1px solid blue;
        display: flex;
        flex-direction: column;
        &__edit {
            flex: 0 0 3%;
            display: flex;
            justify-content: space-between;
        }
        &__noteDetail {
            width: 100%;
            flex: 1; //expand 
            border: 3px solid $sand;
            padding: 1rem;
            border-radius: $border-small;
            transition: all $short-fade;
            &.active {
                border: 3px solid $sand2;
            }
        }
        &__linkDetail {
            //border: 1px solid blue; 
           // padding: 1rem; 
            flex: 1;
        }
        &__save {
            flex: 0 0 7%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            color: $body-lightest;
            transition: all $short-fade;
            &.active {
                color: $body; 
            }
        }
    }
  
}