.notification {
    display: block;
    color: $off-white;
    border-radius: $border-small;
    border: 1px solid $accent-red;
    padding: 1rem;
        &.error { background-color: $error; }
        &.success { background-color: $body-medium; }
}

