//post card 
.post {
    width: 15rem;
    height: 15rem;
    border: 1px solid $soft-outline;
    border-radius: $border-large;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__row {
        display: flex;
        justify-content: space-between;
        padding-bottom: 1rem;
        word-break: break-all;
        white-space: normal;
        flex: wrap;
    }
    &__body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        border: 1px solid $sand3;
        cursor: pointer;
    }
    &__tags {
        text-align: justify;
        word-break: normal;
        position: relative;
    }
}

//post modal 
.postPreview {
    width: 20rem;
    height: 15rem;
    background-color: $sand;
    border: 1px solid $sand3;
    position: absolute;
    display: flex;
    flex-direction: column;
    border-radius: $border-small;
}


//post layout 
