.room {
    display: flex;
    height: 100%;
    width: 100%;
    margin-top: 1.5rem;
    &__sidebar {
        flex: 0 0 15%;
    }
    &__body {
        flex: 0 0 85%;
    }
}

.roomPosts {
    display: flex;
    & > * {
        margin-right: 1.5rem;
    }
}