.search {
    width: 100%; 
    position: relative;
    align-self: flex-start;
    &__icon {
        position: absolute;
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
        &--end {
            position: absolute;
            right: 1rem;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &__bar {
        padding-left: 3rem; 
        border-bottom: 3px solid $sand;
        transition: all $short-fade;
        &:focus {
            border: 3px solid $sand; 
            border-bottom: 3px solid $sand3; }
        }
    }