.tag {
    position: relative;
    background-color: transparent;
    border-radius: $border-small;
    //display: flex;
    display: inline-flex;
    align-items: center;
    position: relative;
    padding: 7px;
    margin-bottom: 1rem;
    margin-right: 1rem; 
    transition: all $short-fade;
    line-height: $line-height;
    &--edit {
        padding-right: 1.7rem;
        border-radius: $border-small;
        background-color: $sand2;
    }
    &__X {
        font-size: 1rem;
        color: $body-light;
        position: absolute;
        right: 5px;
        transform: translateY(-50%);
        top: 50%;
        cursor: pointer;
    }
}

//tag for preview modals/menus 
.tagPreview {
    display: flex;
    align-items: center;
    &__color {
        height: 1rem;
        width: 1rem;
        filter: blur(0.15rem);
        border-radius: 50%;
        margin-right: 1rem; 
    }
}



//for color change
.colorInput {
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%; 
    height: 100%; 
    opacity: 0%;
}

//recent tag
.recentTags {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    &__tag {
        display: inline-flex;
        align-items: center;
        margin-right: 1.5rem;
        background-color: $sand;
        border-radius: $border-small;
        cursor: pointer;
        color: $body-lightest; 
        padding: 7px;
        transition: all $short-fade;
        &:hover { color: $body-light; }
        &::before{
            content: '+ \00a0';
        }
    }
}

/* TAG LAYOUT */
//Panel that expands on add tags click in upload ==> tag search, recent tags, and tag bank 
.addTags { // used in upload form 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transform-origin: center 1rem; // roll out search from center(x) 1rem from top(y)
    width: 100%;
    &__recent {
        padding-top: 1rem;
        align-self: flex-start;
    }
}

// show created tags in reg/upload forms
.tagBank { 
    padding-top: 1.5rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
   // border: 1px solid black;
}

//global tags by house
.houseTags {
    column-count: 3;
    padding-bottom: 1.5rem;
    &__header {
        align-self: flex-end;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 85%;
        & > * {
            margin-right: 3rem;
        }
    }
}