.toggle {
    height: 1.5rem;
    width: 3rem;
    border: 1px solid $shadow;
    padding: 1px;
    border-radius: $border-large;
    background-color: $shadow;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    transition: all $long-fade; // ... 
    &.on {
        background-color: $sand-bright;
        border-color: $sand-bright;
        justify-content: flex-end;
    }
    &__switch {
        display: inline-block;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: $off-white;
    }
    &__wrapper{
        height: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px; // set height/marginBottom to preserve toggle border 
    }
}