.toolbar {
    display: flex;
    align-items: center;
    background-color: $sand;
    color: $body-light;
    border-top-left-radius: $border-small;
    border-top-right-radius: $border-small;
    border: 3px solid $sand2;
    border-bottom: none;
}
