//large, generic tooltip
.tooltip {
    padding: 1rem;
    border-radius: $border-small;
    z-index: 5;
    width: 15rem;
    height: auto; 
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center; 
    &--black {
        color: $off-white;
        background-color: $body-medium;
        border: 1px solid $body; 
    }
    &--white {
        background-color: $sand;
        color: $body-medium;
        border: 1px solid $sand3;
    }
    &--left {
        top: 50%;
        transform: translate(-110%, -50%);
    }
    &--top {
        top: 100%;
        transform: translate(-50%, -110%);
    }
}

.tooltip__float {
    position: relative;
    z-index: 5;
    animation: floatSoftly 3s ease-in-out infinite;
}

.tooltipAnchor {
    position: relative;
    //border: $border; 
}

//for btns 
.tltp {
    padding: 5px;
    color: $off-white;
    background-color: $body-medium;
    border-radius: $border-smallest;
    position: absolute;
    transform-origin: center left;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    white-space: nowrap;
}

/**
  &::after {
        content: '';
        background-color: $body-medium;
        height: 1rem;
        width: 3rem;
        right: 0;
        transform: translateX(1.5rem);
        clip-path: polygon(100% 50%, 0 0, 0 100%);
    }
**/