.upload {
    background-color: $sand;
    line-height: 1.5rem;
    border: 3px solid $sand2; 
    border-radius: $border-small;
    padding:  1rem;
    width: 100%;
    display: flex;
    margin-top: 3px;
    height: auto; 
    
    //lay out upload form
    &__container{
        display: flex;
        justify-content: space-between;
        margin-top: 15%; //buffer at pg top 
        align-items: flex-start
       // border: 1px solid black;
    }
    &__controller { // input controls
        display: flex;
        flex: 0 0 10%; 
        align-self: flex-start;
    }
    &__form { //upload, tags, and comments
        flex: 0 0 90%;
    }

    //tags for tags and comments 
    &__label {
        // border: 1px solid black;
        padding-top: 1rem;
        flex: 0 0 15%;
        display: flex;
        justify-content: flex-start;
        cursor: pointer;
        &:hover { font-style: italic; }
    }
}

//Expand this panel on add tags click ==> tag search, recent tags, and tag bank 
.addTags {
    padding-top: 1rem;
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transform-origin: center 1rem; // roll out search from center(x) 1rem from top(y)
   // border: 1px solid blue;
    width: 100%;
    &__recent {
        padding-top: 1rem;
        align-self: flex-start;
    }
}



