.upload {
    background-color: $sand;
    line-height: 1.5rem;
    border: 3px solid $sand2; 
    border-radius: $border-small;
    padding:  1rem;
    width: 100%;
    display: flex;
    margin-top: 3px;
    height: auto; 
    
    //lay out upload form
    &__container{
        display: flex;
        justify-content: space-between;
        margin-top: 15%; //buffer at pg top 
        align-items: flex-start
       // border: 1px solid black;
    }
    &__controller { // input controls
        display: flex;
        flex: 0 0 10%; 
        align-self: flex-start;
    }
    &__form { //upload, tags, and comments
        flex: 0 0 90%;
    }
    &__extras { //tags and comments
        padding: 0 1.5rem;
    }

    //tags for tags and comments 
    &__label {
        // border: 1px solid black;
        padding-top: 1rem;
        flex: 0 0 15%;
        display: flex;
        justify-content: flex-start;
        cursor: pointer;
        &:hover { font-style: italic; }
    }
}




