//text 
$body: #31302C;
$body-medium: #44433e;
$body-light: #72716B; 
$body-lightest: #C3C2BD;
$soft-outline: #d8d7d3; // not for text 
$line-height: 150%; //for padded text

//palette 
$off-white: #fffdfa; 
$sand: #fcf7f3;
$sand2: #f5eee5; 
$sand3: #f1e3d3; 

//other 
$half-transparent: #fffdfa86; 
$error: #f39c81d9;
$error-light: #f39c8199;
$accent-red: #b17954;
$sand-bright: #EBC57A;
$blue: #00f7ff; 

//borders 
$border-large: 1rem;
$border-small: 0.5rem; 
$border-smallest: 5px;
$border: 1px solid black; //for testing 

//shadow
$shadow: #DCD8D1; 
$transparent-shadow: rgba(220, 216, 209, 0.452); 
$soft-shadow: 4px 4px 16px $shadow, 
-4px -4px 16px #fff;
$softer-shadow: 4px 4px 16px rgba(220, 216, 209, 0.733), 
-4px -4px 16px #fff;
$softest-shadow: 4px 4px 24px rgba(216, 215, 211, 0.5), 
-4px -4px 16px #fff;

//animation
$shortest-fade: .15s;
$short-fade: .35s;
$long-fade: .7s;
