//text 
$body: #31302C;
$body-medium: rgb(68, 67, 62);
$body-light: #72716B; 
$body-lightest: #C3C2BD;
$soft-outline: rgb(216, 215, 211); // not for text 


//palette 
$off-white: #fffdfa; 
$half-transparent: #fffdfa86; 
$sand: #fcf7f3;
$sand2: hsl(32, 43%, 93%); 
$sand3: #f1e3d3; 

$error: #f39c81d9;
$error-light: #f39c8199;

$accent-red: #78201B;
$sand-bright: #EBC57A;

//spacing
$border-large: 1rem;
$border-small: 0.5rem; 

//shadow
$shadow: #DCD8D1; 
$transparent-shadow: rgba(220, 216, 209, 0.452); 
$soft-shadow: 4px 4px 16px $shadow, 
-4px -4px 16px #fff;
$softer-shadow: 4px 4px 16px rgba(220, 216, 209, 0.733), 
-4px -4px 16px #fff;
$softest-shadow: 4px 4px 24px rgba(216, 215, 211, 0.5), 
-4px -4px 16px #fff;

//animation
$short-fade: .35s;
$long-fade: .7s;