//text 
$body: #312F2C;
$body-medium: #433D37;
$body-light: #776B5E; 
$body-lightest: #C7BEB6;

$soft-outline: #d8d7d3; // not for text 
$line-height: 150%; //for padded text

//palette 
$off-white: #FFFCF8;
$sand: #FAF3ED;
$sand2: #F2EADF; 
$sand3: #EFDDC8; 

//other 
$half-transparent: #fffdfa86; 
$error: #E47654;
$error-light: #E47654;

$accent-red: rgba(247, 192, 110, 0.75);
$accent-red2: #EA9144;
$accent-red3: #DD7C40;

//borders 
$border-large: 1rem;
$border-small: 0.5rem; 
$border-smallest: 5px;
$border-body: 1px solid $body; 
$border-trans: 1px solid transparent; 
$border: 1px solid black; //for testing 

//shadow
$shadow: rgb(235, 233, 229); 
$transparent-shadow: rgba(220, 216, 209, 0.452); 
$soft-shadow: 4px 4px 16px $shadow, 
-4px -4px 16px #fff;
$softer-shadow: 4px 4px 16px rgba(220, 216, 209, 0.733), 
-4px -4px 16px #fff;
$softest-shadow: 4px 4px 24px rgba(216, 215, 211, 0.5), 
-4px -4px 16px #fff;

//animation
$shortest-fade: .15s;
$short-fade: .35s;
$long-fade: .7s;